.footer {
  color: #ed8d48;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;

  p {
    margin: 15px 0 0;
  }

  a {
    color: #f1ead0;
    font-size: 14px;
    text-transform: capitalize;
  }
}

