#dots
  position fixed
  right 2%
  top 40%
  margin auto
  z-index 600

  .tooltiptext
    display none
    position absolute

  div
    position relative
    display block
    border-radius 50%
    opacity 0.5
    background-color rgb(240, 236, 227)
    width 7px
    height 7px
    margin 20px
    transition opacity 500ms ease
    cursor: pointer;

    &:hover
      .tooltiptext
        display block
        text-align: right;
        background none
        width 300px
        left -330px
        top -30px

        span
          background-color: rgb(240, 236, 227)
          padding 5px
          color #000
          font-size 18px

    &.active-dot
      opacity 1
      transition opacity 500ms ease;

