#dots
  position fixed
  right 40px
  top: 50%;
  transform: translate(-50%, 0);
  margin auto
  z-index 9999

  div
    display block
    border-radius 50%
    background-color rgb(240, 236, 227)
    width 6px
    height 7px
    margin: 20px
