#faq, #contact
  background-color: #FBF9F3;
  display block
  text-align: right;
  position: absolute;
  width: 100vw;
  overflow-y: hidden;
  top 0
  left 0
  padding: 160px
  transition: left 350ms ease-out;

  {component(header-bar)}
    background: -webkit-linear-gradient(#ee9646, #efa143);
    background: -o-linear-gradient(#ee9646, #efa143);
    background: -moz-linear-gradient(#ee9646, #efa143);
    background: linear-gradient(#ee9646, #efa143);

  &.nav-open
    left: 32vw
    transition: left 350ms ease-out;

    {component(header-bar)}
      left: 32vw
      transition: left 350ms ease-out;


  h1
    font-size: 90px;
    font-family: "Freeland";
    font-weight: normal;
    color: #ee9347;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 302;

  .faq-image
    float left
    margin 50px 50px 0 0

  .faq-content
    display inline-block


    h2
      font-size: 18px;
      font-family: "Proxima Nova";
      color: #361f00;
      font-weight: bold;
      margin-top 45px
      text-transform: uppercase;
      text-align: left;

    p
      font-size: 16px;
      font-family: "Proxima Nova";
      color: #361f00;
      text-align: left;

      a
        color: #E4B358

  .contact-content
    display inline-block
    text-align: center;
    width 100%

    h2
      font-size: 18px;
      font-family: "Proxima Nova";
      color: #361f00;
      font-weight: bold;
      margin-top 45px
      margin-bottom 10px
      text-transform: uppercase;
      text-align: center;

    p
      font-size: 16px;
      margin 0 0 20px
      font-family: "Proxima Nova";
      color: #361f00;
      text-align: center;

    a
      color: #E4B358
      margin 20px

    .phone
      color: #361f00;
      margin 20px

    .sun-logo
      margin 100px

    .contact-social
      .social-link
        display inline-block
        margin 10px 20px
        background-color: #ed8d48
        padding 10px
        width 40px

        img
          height 15px
          width auto
