.footer-bar
  width 100vw
  position fixed
  background-color #361f00;
  color: #f2be3d
  left 0
  bottom 0
  vertical-align: middle;
  z-index: 2

  .footer-text
    color: #f2be3d
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px
    vertical-align: middle;
    margin 20px

  form
    display: inline-block;
    vertical-align: middle;
    margin 20px




  input[type="text"]
    background-color rgb(241, 234, 208)
    color #000
    font-size: 8px
    font-weight bold
    border none
    width 190px
    height 25px

  input[type="submit"]
    background-color rgb(237, 141, 72)
    color rgb(241, 234, 208)
    text-transform uppercase
    font-size: 8px
    font-weight bold
    border none
    margin-left -4px
    width 100px
    height 25px
