&#about

  #step-5
    display block
    background-image url(/images/join-us.png)
    background-size 100% auto
    background-repeat no-repeat
    background-position center
    opacity 1
    position absolute
    height 100vh
    width 100vw
    top 0
    transform translate3d(0, 100vh, 0)
    transition all 1s ease

    .content
      display inline-block
      margin-top 100px

      input[type="text"]
        background-color rgb(241, 234, 208)
        color #000
        font-size: 12px
        font-weight bold
        border none
        width 352px
        height 38px

      input[type="submit"]
        background-color rgb(237, 141, 72)
        color rgb(241, 234, 208)
        text-transform uppercase
        font-size: 12px
        font-weight bold
        border none
        // margin-left -4px
        width 159px
        height 38px

    .img
      display inline-block
      margin 100px 0 0 200px



    .header, .sub-header
      transform translate3d(0, 20vh, 0)
      transition all 700ms ease
      transition-delay 150ms

  &.is-step-5 #step-5
    transform translate3d(0, 0, 0)
    transition all 1s ease
    transition-delay 500ms

    .header, .sub-header
      transform translate3d(0, 0, 0)
      transition all 1s ease
      transition-delay 500ms

@media screen and (max-width: 1200px)

  &#about

    #step-5
      background-size auto 100%

      .img
        display inline-block
        margin 100px
