#general
  background-color: #FBF9F3;
  display block
  text-align: center;
  position: absolute;
  width: 100vw;
  min-height: 102vh
  overflow-y: hidden;
  top 0
  left 0
  padding: 160px
  padding-bottom: 0
  transition: left 350ms ease-out;

  &.faq
    padding-bottom 140px

  {component(header-bar)}
    background: -webkit-linear-gradient(#ee9646, #efa143);
    background: -o-linear-gradient(#ee9646, #efa143);
    background: -moz-linear-gradient(#ee9646, #efa143);
    background: linear-gradient(#ee9646, #efa143);

  &.nav-open
    left: 410px
    transition: left 350ms ease-out;

    {component(header-bar)}
      left: 410px
      transition: left 350ms ease-out;

    {component(footer-bar)}
      left: 410px
      transition: left 350ms ease-out;



  h1
    font-size: 90px;
    font-family: "Freeland";
    font-weight: normal;
    color: #ee9347;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 302;

  h2
    font-size: 18px;
    font-family: "proxima-nova";
    color: #361f00;
    font-weight: bold;
    margin-top 45px
    margin-bottom 10px
    text-transform: uppercase;
    text-align: center;

  p
    font-size: 16px;
    margin 0 0 20px
    font-family: "proxima-nova";
    color: #361f00;
    text-align: center;

    a
      color: #E4B358

  .sun-logo
    display: inline-block;
    margin 100px

  .faq-image
    float left
    margin 50px 50px 0 0

  .faq-content
    display inline-block


    h2
      font-size: 18px;
      font-family: "proxima-nova";
      color: #361f00;
      font-weight: bold;
      margin-top 45px
      text-transform: uppercase;
      text-align: left;

    p
      font-size: 16px;
      font-family: "proxima-nova";
      color: #361f00;
      text-align: left;

  .contact-content
    display inline-block
    text-align: center;
    width 100%

    a
      color: #E4B358
      margin 20px

    .phone
      color: #361f00;
      margin 20px

    .contact-social

      .social-link
        display inline-block
        text-decoration none
        margin 10px 20px
        background-color: #ed8d48
        padding 10px
        width 40px

        .icon
          font-size 15px

  .legal-content

    h1
      font-size: 50px;
      font-family: "proxima-nova";
      font-weight: normal;
      color: #361f00;
      line-height: 1;
      text-align: center;
      margin-bottom: 10px
      z-index: 302;

    span.date
      text-align: left;
      color: #361f00;
      font-size 14px
      position relative
      top 30px

    h2, p
      text-align: left;

@media screen and (max-width: 980px)

  #general
    padding: 125px 20px;

    &.nav-open
      left: 0

      {component(header-bar)}
        left: 0

      {component(footer-bar)}
        left: 0

    h1
      font-size 48px
    h2, p
      font-size 18px

    .legal-content

      h1
        font-size: 40px;

      span.date
        font-size 14px

    .faq-image
      margin 0 auto
      float none
      width 30vw

    &.faq

      h1
        font-size 42px

      h2, p
        font-size 18px

    .contact-content
      display inline-block
      text-align: center;
      width 100%

      h2
        margin-top 18px

      a
        font-size 18px

      .phone
        font-size 18px
        display block

      .contact-social

        .social-link
          width 46px

          img
            height 15px

.menu__social
  text-decoration: none
