{component(menu)}
  width: 32vw;
  height: 100vh;
  position: fixed;
  top: 0
  left: -32vw
  background: #f2be3d
  z-index: 999;
  text-align: center;
  transition: left 350ms ease-out;

  &.is-open
    left: 0vw
    transition: left 350ms ease-out;

  {part(logo)}
    display inline-block
    margin: 20px 0 75px

  {part(link)}
    display: block
    font-size: 36px;
    font-family: "Proxima Nova";
    color: rgb(241, 234, 208);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.438;
    width: 100%
    text-align: center;
    cursor: pointer;


  {part(social)}
    display: inline-block;
    background: #EE9347;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin: 80px 10px;
    cursor: pointer;
