.splash
  position relative
  pos-fill()
  z-index 100
  background #221010
  transition background 2s ease

  &:before
    content ''
    position fixed
    pos-fill()
    background linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3))
    transition opacity 2s ease

  &:after
    content ''
    position fixed
    pos-fill()
    background url('/images/BG_1.jpg') no-repeat
    background-size cover
    z-index -100
    opacity 0
    transition opacity 1s ease

  &__headline
    position absolute
    opacity 0
    text-align center
    right 0
    left 0
    margin-left auto
    margin-right auto
    // left (((1200 - 640) / 2) / 1200) * 100%
    // width ($width / 1200) * 100%
    // height 150px
    transform translate3d(0, 80%, 0)
    // transition all 3500ms ease
    color #f1ead0
    z-index 100

    h1, .h1
      font-family 'Freeland'
      font-size 85px

    .subhead
      display block
      font-family 'Proxima Nova'
      font-size 20px
      text-transform uppercase

  &__content
    max-width 1200px
    margin 0 auto

  &__content
    position relative
    width 100%
    height 100vh

  @require 'steps/**'
