.splash
  position relative
  pos-fill()
  z-index 100
  background #221010
  transition background 2s ease

  &:before
    content ''
    position fixed
    pos-fill()
    background linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3))
    transition opacity 2s ease

  &:after
    content ''
    position fixed
    pos-fill()
    background url('/images/BG_1.jpg') no-repeat
    background-size cover
    z-index -100
    opacity 0
    transition opacity 1s ease

  &__headline
    position absolute
    opacity 0
    text-align center
    right 0
    left 0
    margin-left auto
    margin-right auto
    // left (((1200 - 640) / 2) / 1200) * 100%
    // width ($width / 1200) * 100%
    // height 150px
    transform translate3d(0, 10vh, 0)
    transition all 2500ms ease
    color #f1ead0
    z-index 100

    h1, .h1
      font-family 'Freeland'
      font-size 85px

    .subhead
      display block
      font-family 'Proxima Nova'
      font-size 20px
      text-transform uppercase

  &__container
    position fixed
    pos-fill()
    max-width 1200px
    margin 0 auto
    margin-bottom 3%

  &__content
    position relative
    width 100%
    height 100vh

.small-text
  position absolute
  left 50%
  bottom 40%
  width 15em
  height 4em
  transition opacity 1s ease, transform 900ms ease
  opacity 0
  transform translate3d(0, 500%, 0)

  &__title
    font-size 12px
    font-weight 600
    text-transform uppercase
    color #f2ebd2

  &__desc
    color #f2be3d
    font-size 12px
    margin-top 5px

    &.\\+dark
      color #3d2716

  &__icon
    position absolute
    top -12px
    right -40px
    font-size 30px

  &.\\+left
    text-align right
    margin-left ((250 + 155) / 1200) * -100%

  &.\\+right
    margin-left (170 / 1200) * 100%

    .small-text__icon
      left -40px

  &.\\+one
    margin-bottom 24%
    // margin-bottom 0
    transition-delay 800ms

  &.\\+two
    margin-bottom 24%
    // margin-bottom 0
    transition-delay 900ms

  &.\\+three
    margin-bottom 17%
    // margin-bottom 90px
    transition-delay 1000ms

  &.\\+four
    margin-bottom 17%
    // margin-bottom 90px
    transition-delay 1100ms

  &.\\+five
    margin-bottom 9%
    // margin-bottom 180px
    transition-delay 1200ms

  &.\\+six
    margin-bottom 9%
    // margin-bottom 180px
    transition-delay 1300ms

  &.\\+seven
    margin-bottom 2%
    // margin-bottom 260px
    transition-delay 1400ms

  &.\\+eight
    margin-bottom 2%
    // margin-bottom 260px
    transition-delay 1500ms

@media all and (min-height 650px)

  .splash__container
    margin-bottom 0


