.logos
  & > div
    width: calc(100%/6)
    height: 80px
    display: inline-block
    float: left
    padding: 10px
    background-color: black

    & > div
      width: 100%;
      height: 100%
      display: block
      background-size: contain
      background-position: center
      background-repeat: no-repeat
      background-color: black

  @media screen and (max-width: 600px)
    & > div
      width: calc(100%/3)

  .apartmenttherapy
    background-image: url(/images/logos/apartmenttherapy.png)

  .chickchip
    background-image: url(/images/logos/chipchick.png)

  .cnet
    background-image: url(/images/logos/cnet.png)

  .digitaltrends
    background-image: url(/images/logos/digitaltrends.png)

  .deccanchronicle
    background-image: url(/images/logos/deccanchronicle.png)

  .engadget
    background-image: url(/images/logos/engadget.png)

  .gizmodo
    background-image: url(/images/logos/gizmodo.png)

  .homecrux
    background-image: url(/images/logos/homecrux.png)

  .producthunt
    background-image: url(/images/logos/producthunt.png)

  .popularmechanics
    background-image: url(/images/logos/popularmechanics.png)

  .techcrunch
    background-image: url(/images/logos/techcrunch.png)

  .technews
    background-image: url(/images/logos/technews.png)

  .theverge
    background-image: url(/images/logos/theverge.png)

  .theeconomictimes
    background-image: url(/images/logos/theeconomictimes.png)

  .thrillist
    background-image: url(/images/logos/thrillist.png)
