#page-store

  font-size: 16px

  .hero
    background-image: url(/images/store1.jpg)
    background-position: 33% 30%
    height: 100vh

    h1
      line-height: 1em

    .content
      margin-top: 40vh !important

  h2
    margin-bottom: 80px

  h4
    font-size: 35px
    font-weight: normal

  .plan-price.subscription
    color: #AAA

    &.single
      display: none

  section.items
    & > .content > .item
      display: table
      width: 100%
      position: relative
      margin-bottom: 40px

      > *
        float: left

    .image
      width: 35%
      margin-right: 5%
      position: relative

      img
        border-radius: 5px
        transition: opacity 500ms ease-in-out

        &:nth-child(n+2)
          position: absolute
          left: 0
          top: 0

    .title
      width: 60%
      text-align: left
      font-size: 18px
      padding: 15px 0

      h4
        margin: 0 20px 0 0
        display: inline-block
        width: 100%

    .picker
      width: 60%
      display: table
      padding-top: 15px

      > *
        text-align: left
        display: table-cell
        vertical-align: middle

        &:first-child
          width: 35%
          margin-right: 5%

        &:last-child
          width: 60%

          .selectize-input
            max-width: 100%

      &.color-picker
        input
          display: none

        > *:last-child
          label
            width: 27px
            height: 27px
            display: inline-block
            font-size: 0
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
            cursor: pointer
            position: relative
            top: -8px

          > span
            &:hover
              label
                top: -6px
                border: 2px solid #ed8d48

            input:checked + label
              top: -6px
              border: 2px solid #ed8d48

            &.color-w-r
              label
                background-color: #902028

            &.color-w-o
              label
                background-color: #DD7829

            &.color-w-i
              label
                background-color: #B9956B

            &.color-w-g
              label
                background-color: #8EAB66

            &.color-w-b
              label
                background-color: #51589E

            &.color-w-p
              label
                background-color: #786595

            &.color-g-w
              label
                background-color: #EAEAED

            &.color-g-sm
              label
                background-color: #808792

            &.color-g-r
              label
                background-color: #691816

            &.color-g-b
              label
                background-color: #181818

            &.color-g-bm
              label
                background-color: #E8DCCD

    .refill-plan-picker
      padding-bottom: 15px

      > *:last-child
        span
          width: 50%
          display: inline-block
          text-align: center
          float: left

          input[type=radio]
            display:none

            &:checked + label
              background-color: #F5A623
              color: #fff

          label
            height: 32px
            padding: 8px
            width:  100%
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            border-radius: 16px
            display: block
            width: 90%
            margin-left: auto
            margin-right: auto
            cursor: pointer
            transition: 0.4s ease-in-out

    .price-display
      width: 60%
      padding: 15px 0
      border-top: 1px solid rgb(222,222,222)
      border-bottom: 1px solid rgb(222,222,222)

      & > *:first-child
        width: 25%
        margin-right: 5%
        display: inline-block
        float: left

      & > *:last-child
        width: 70%
        display: inline-block
        float: left

    .call-to-action.button
      border: 0
      // border-radius: 20px
      color: #fff
      margin-top: 15px
      font-size: 14px

  section.items.essentials.essentials.essentials
    .title + .picker
      border-top: 1px solid rgb(222,222,222)

    .image
      img
        opacity: 0

        &.active
          opacity: 1

    .refill-plan-picker
      > *:last-child
        span
          width: 50%

  section.items.scents.scents.scents
    & > .content > .item
      float: left
      width: 30%
      margin-right: 5%

      .title
        h4
          font-size: 25px

      .picker
        width: 100%

        > *
          width: 100%
          float: left

          &:first-child
            text-align: center
            margin-bottom: 10px

      &:nth-child(3n+3)
        margin-right: 0

      .call-to-action
        margin-top: 0
        margin-bottom: 15px
        width: 100%
        text-align: center

  @media screen and (max-width: 800px)
    section.items.scents.scents.scents.scents
      & > .content > .item
        float: left
        width: 47%
        margin-right: 6%

        &:nth-child(2n+2)
          margin-right: 0

  @media screen and (max-width: 600px)
    .title
      margin-top: 50px
      > *
        display: block

    .picker
    .price
    .price-display
      width: 100% !important

    .image
      margin-top:80px;

    .call-to-action.button
      width: 100%
      text-align: center

    section.items.scents.scents.scents.scents
      & > .content > .item
        float: left
        width: 100%
        margin-right: 0
