@import url("Style-Story.css");

@font-face {
	font-family: "quicksand";
	src:
		url("Fonts/quicksand-regular-webfont.woff2") format("woff2"),
		url("Fonts/quicksand-regular-webfont.woff" ) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "quicksand";
	src:
		url("Fonts/quicksand-bold-webfont.woff2") format("woff2"),
		url("Fonts/quicksand-bold-webfont.woff" ) format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "quicksand";
	src:
		url("Fonts/quicksand-light-webfont.woff2") format("woff2"),
		url("Fonts/quicksand-light-webfont.woff" ) format("woff");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "gotham";
	src:
		url("Fonts/gotham-bold-webfont.woff2") format("woff2"),
		url("Fonts/gotham-bold-webfont.woff" ) format("woff");
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;

	font-family: "quicksand";
}

a { color: #e0bc4b; }
a:visited { color: #362113; }
a:hover { color: #ffd655; }

a img { border: none; }

nav {
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}
	nav::after {
		content: ' ';
		display: block;
		clear: both;
	}
		
	nav > h1 {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		margin-left: auto;
		margin-right: auto;

		width: 130px;

		font-size: 0;
		background-image: url("LuDela-White.svg");
		background-size: 66% 66%;
		background-repeat: no-repeat;
		background-position: center center;
	}
		nav > h1 > a {
			display: block;
			margin: 0;
			padding: 0;
			height: 100%;

			text-decoration: none;

			transition: background-color 100ms ease-in;
			background-color: rgba( 255, 255, 255, 0.0 );
		}
			nav > h1 > a:hover {
				color: white;
				background-color: rgba( 255, 255, 255, 0.3 );
				transition: background-color 100ms ease-in;
			}

		@media (max-width: 1023px) { /* Move the <h1> to a block above navigation, to avoid overlapping elements. */
				
			nav > h1 {
				position: static;
				width: auto;
				height: 50px;
				background-size: 50% 50%;
				padding: 0.1em;
				margin: 0;

				font-size: 0;
				text-align: center;
			}

			body > header nav a {
				text-shadow: 0 0 10px black;
			}
			body > header nav .cta a { text-shadow: none !important; }
			}
		@media (max-width: 767px) { /* Hide the cta in the navigation area */
				
			nav .cta {
				display: none;
			}
		}
			
	nav > ul {
		padding: 0;
		margin: 0;
	}
		nav > ul > li {
			display: block;
			margin: 0;
			padding: 0;

			float: left;
		}
				
		nav > ul > li > a {
			display: block;
			margin: 0;
			padding: 0 2em;
			line-height: 100px;
			text-decoration: none;
			transition: background-color 100ms ease-in;
		}
		@media (max-width: 500px) { /* Make nav links smaller */

			nav > ul > li > a {
				padding: 0.5em;
				line-height: 50px;
			}
		}
			nav > ul > li.cta {
				float: right;

				box-sizing: border-box;
				height: 100px;
			}
			.cta > a {
				line-height: normal;
				padding: 1em;
				margin: 1.5em;
				color: black;
				text-decoration: none;
				text-shadow: none;
				font-weight: bold;
				background-color: #e0bc4b;
				transition: background-color 100ms ease-in;
			}
				.cta > a:hover {
					background-color: #ffd655;
					transition: background-color 100ms ease-in;
				}
	
header > nav {
	background-color: rgba( 255, 255, 255, 0.1 );
	color: white;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 110;
}
	.navBack {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 90;
		background-color: rgba( 0, 0, 0, 0.5 );
		height: 100px;
	}

	header > nav > ul > li > a {
		color: white;
		text-shadow: 0 0 10px black;
		background-color: rgba( 255, 255, 255, 0.0 );
	}
	header > nav > ul > li > a:hover {
		background-color: rgba( 255, 255, 255, 0.3 );
		transition: background-color 100ms ease-in;
	}

	header > nav > ul > li > a:link,
	header > nav > ul > li > a:visited,
	header > nav > ul > li > a:hover {
		color: white;
	}
		header > nav > ul > li.cta > a:link,
		header > nav > ul > li.cta > a:visited,
		header > nav > ul > li.cta > a:hover {
			color: black;
		}

footer > nav {
	background-color: #f1ecdc;
	color: black;
}
	footer > nav > ul > li > a {
		background-color: rgba( 255, 255, 255, 0.0 );
	}
	footer > nav > ul > li > a:hover {
		background-color: rgba( 255, 255, 255, 0.3 );
		transition: background-color 100ms ease-in;
	}

/**********************/
/* General styles */

h2 {
	font-family: "gotham";
	font-weight: bold;
	text-transform: uppercase;

	text-align: center;
}

fieldset {
	padding: 2em;
	background: #e0bc4b;
	border: none;
}
	fieldset label {
		display: block;
		margin-bottom: 2em;
	}
	fieldset label span {
		font-weight: bold;
	}

	fieldset input[type=text] {
		border: none;
		padding: 1em;
		box-sizing: border-box;
		width: 75%;
	}
	fieldset button {
		border: none;
		padding: 1em;
		background: black;
		color: white;
		transition: background-color 100ms ease-in;
	}
		fieldset button:hover {
			border: none;
			padding: 1em;
			background: #ccc;
			color: white;
			transition: background-color 100ms ease-in;
		}
		fieldset button:active {
			color: black;
		}

section {
	padding: 4em;

	position: relative;
}
	article section:nth-child(2n+1) {
		background-color: #f1ecdc;
	}
	
	article section > div.content {
		float: right;
		max-width: 30em;
	}
	article section::after {
		content: ' ';
		display: block;
		clear: both;
	}

	section > .imgWrap {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 50%;
		
		overflow: hidden;

		background: black;
	}
		section > .imgWrap > img {
			
		}

.twoColumnContainer {
	max-width: 50em;
	margin: 0 auto;
}
	.twoColumnContainer::after {
		content: ' ';
		display: block;
		clear: both;
	}
	.twoColumnContainer > *:nth-child(1) {
		float: left;
	}
	.twoColumnContainer > *:nth-child(2) {
		float: right;
	}

/* Hero: */
.hero {
	/* Trick to keep height as a percentage of width, the catch being that all content must be abs positioned. */
	padding-top: calc( 50px + 15% );
	padding-right: 0;
	padding-bottom: 10%;
	padding-left: 0;

	box-sizing: border-box;
	background-size: cover;
	position: relative;

	/* Note the z-indexing with .navBack */
	z-index: 100;

	color: white;
}
@media (min-width: 1366px) {
	.hero {
		padding-top: 320px;
		padding-bottom: 135px;
	}
}

	.hero .cta a {
		box-shadow: 0 0 10px black;
	}
		.hero .cta a:hover { box-shadow: 0 0 10px black; }
		.hero .cta a:active { box-shadow: 0 0 20px black; }

	.hero > p {
		/*position: absolute;*/
		left: 0;
		right: 0;
		text-align: center;

		text-transform: uppercase;
	}
		.hero > p:nth-child(1) {
			text-shadow: 0 0 10px black;
			font-family: "gotham";
			font-weight: bold;
			font-size: 54pt; /* Fallback for non-vw browsers */
			font-size: 6vw;
		}
		.hero > p:nth-child(2) {
			text-shadow: 0 0 10px black;
			font-size: 36pt; /* Fallback for non-vw browsers */
			font-size: 4vw;
		}

@media (max-width: 680px) { /* 680px is the point where it stops being readable */
	
	section {
		padding: 2em;
	}

	article section {
		padding: 2em !important;
	}

	section.home-phoneApp {
		padding-right: 2em !important;
	}

	section > .imgWrap {
		position: static;
		width: auto;
		height: 200px;
		margin: -2em -2em 2em -2em;
	}
		section > .imgWrap > img {
			height: auto !important;
			float: none !important;
		}

	section.bullets > div {
		float: none !important;
		width: auto !important;
	}

	fieldset {
		width: 100%;
		box-sizing: border-box;
	}
		fieldset input[type=text] {
			box-sizing: border-box;
			width: 100%;
			display: block;
		}

	div.content {
		float: none !important;
	}
}

/**********************/
/* Specific content */

/* Home: */

body.home.testA > .hero {
	background-image: url("Hero-Home-A-2757x1515.jpg");
}
body.home.testB > .hero {
	background-image: url("Hero-Home-B-2757x1515.jpg");
}

body.home section.home-email {
	
	margin: 0 auto;
	max-width: 35em;
	text-align: center;
}

body.home section.home-phoneApp {
	padding-right: calc( 50% + 4em );
}
	body.home section.home-phoneApp .imgWrap {
		right: 0;

		background-image: url("../Content/Home-PhoneApp-1267x846.jpg");
		background-size: cover;
		background-position: right bottom;
	}
		@media (max-width: 900px) {
			body.home section.home-phoneApp .imgWrap {
				background-position: 60% bottom;
			}
		}

		body.home section.home-phoneApp .imgWrap img {
			display: none;
		}

/* Getting the images to look good in all widths is hard, so revert to CSS backgrounds. */
body.home section.home-betterLives {
	padding-left: calc( 50% + 4em );
}
	body.home section.home-betterLives .imgWrap {
		left: 0;

		background-image: url("../Content/Home-BetterLives-541x797.jpg");
		background-size: cover;
		background-position: left bottom;
	}
		body.home section.home-betterLives .imgWrap img {
			display: none;
		}

	body.home section.home-betterLives div.content {
		float: left;
	}

section.home-bullets {
	
	margin: 0 auto;
	max-width: 35em;
}
	section.home-bullets > div {
		width: 15em;
	}


/* FAQ: */

body.faq > header {
	background-color: #362113;
}

body.faq article {
	max-width: 50em;
	margin: 0 auto;
}