.fixed-visuals {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: visible;
}

.fixed-visuals .candle {
  background-image: url('/images/Candle.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: transform 1000ms ease, background-image 100ms ease;
  max-width: 200px;
  width: 50vw;
  height: 45vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 3vh;
  position: absolute;
  -webkit-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
  z-index: 20;
}

.fixed-visuals .flame {
  position: absolute;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  width: 2vw;
  min-width: 30px;
  bottom: 10vh;
  height:45vh;
  max-height: 340px;
  left: 0;
  right: 0;
  background-image: url('/images/CandleFlame.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  -webkit-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0);
  opacity: 0;
  transition: opacity 1900ms ease, transform 1300ms ease;
  z-index: 19;
}

.is-slide-2 .candle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.is-slide-2 .flame {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media all and (max-width: 800px) {
  .fixed-visuals .candle {
    bottom: 4vh;
  }

  .fixed-visuals .flame {
    bottom: 12vh;
  }
}

@media all and (max-width: 400px) {
  .value {
    height: 160vh;
  }
}

