&#about

  #step-2
    display block
    background-image url(/images/better-lives.png)
    background-position-x center
    background-size cover
    background-repeat no-repeat
    opacity 1
    position absolute
    height 100vh
    width 100vw
    overflow-y hidden
    top 100vh
    transform translate3d(0, 0, 0)
    transition all 750ms ease
    &.scroll
      overflow-y scroll

    .header, .sub-header
      transform translate3d(0, 20vh, 0)
      transition all 500ms ease
      transition-delay 150ms

    .copy
      background-color rgba(241, 234, 208, 0.85)
      width 785px
      height 360px
      padding 30px 40px
      margin 0 auto
      transform translate3d(0, 30vh, 0)
      transition all 1s ease
      transition-delay 350ms

      p
        font-size 20px
        font-family "proxima-nova"
        color rgb(54, 31, 0)
        font-weight bold
        line-height 1.603
        text-align justify
        z-index 275
        margin 0

        .break
          display block
          margin 7px

  &.is-step-2 #step-2
    transform translate3d(0, -100vh, 0)
    transition all 750ms ease

    .header, .sub-header
      transform translate3d(0, 0, 0)
      transition all 750ms ease
      transition-delay 350ms

    .copy
      transform translate3d(0, 0, 0)
      transition all 1s ease
      transition-delay 350ms

  &.is-step-3, &.is-step-4, &.is-step-5
    #step-2
      transform translate3d(0, -200vh, 0)
      transition all 750ms ease

      .header, .sub-header
        transform translate3d(0, -30vh, 0)
        transition all 1500ms ease

      .copy
        transform translate3d(0, -10vh, 0)
        transition all 500ms ease
        transition-delay 350ms

@media screen and (max-width 680px)
  &#about
    &.is-step-1, &.is-step-2, &.is-step-3, &.is-step-4, &.is-step-5

      #step-2
        position: static
        height auto
        background-size cover

        .header, .sub-header
          transform translate3d(0, 0, 0)
          transition all 750ms ease
          transition-delay 350ms

        .copy
          transform translate3d(0, 0, 0)
          transition all 1s ease
          transition-delay 350ms
          width 336px
          height 516px
          margin-bottom 160px

          p
            font-size 15px
