&#about
  #step-3
    display block
    background #221010
    text-align center
    opacity 1
    top 100vh
    height auto

    .about__content
      padding 40px 40px 160px

    .team-copy
      font-size 20px
      font-family "proxima-nova"
      font-weight bold
      line-height 1.603
      padding 40px
      text-align justify
      margin 0

    .team-member
      text-align left
      display inline-block
      vertical-align top
      background-color #f2be3d
      color #221010
      margin 10px 10px 0 -4px
      padding 20px
      width 300px
      height 380px
      position relative

      .name
        font-size 18px
        display block
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        font-family "proxima-nova"
        color rgb(91, 55, 50)
        font-weight 800
        text-transform uppercase

      .title
        font-size 12px
        display block
        line-height 1
        font-weight bold
        text-align left
        font-family "proxima-nova"
        color rgb(91, 55, 50)
        text-transform uppercase

      .photo
        margin-top 14px
        font-size 12px
        height 260px
        width 260px
        overflow hidden
        text-align: center;
        font-family "proxima-nova"
        color rgb(91, 55, 50)
        position absolute
        bottom 20px
        left 20px

        .photo-wrap
          display: inline-block;
          position: relative;
          height 260px
          right: -50%;

          img
            height 100%
            width: auto
            max-width: none;
            max-height: none;
            display: inline-block
            position: relative;
            left: -50%;

        a
          text-decoration underline
@media screen and (max-width 680px)
  &#about
    #step-3
      padding 40px 0

      .team-copy
        font-size 15px
        padding 20px


      .about__content
        padding-bottom 60px

      .team-member
        width 40vw
        height 48vw
        margin 10px 5px 0 5px
        padding 30px 20px

        .title
          font-size 10px
          text-align left

        .name
          font-size 8px

        .photo
          font-size 9px
          height 34vw
          width 34vw
          text-align: center;

          .photo-wrap
            height: 34vw

          a
            font-size 10px

@media screen and (max-width 480px)
  &#about
    #step-3
      .team-copy
        font-size 15px

      .team-member
        width 90vw
        height 110vw
        margin 20px 10px 0 10px
        padding 30px 20px 20px

        .title
          font-size 14px
          text-align left

        .name
          font-size 10px

        .photo
          font-size 9px
          max-width none
          height 80vw
          width 80vw
          overflow: hidden;
          text-align: center;
          position relative

          .photo-wrap
            height: 80vw

          a
            font-size 10px
