#about #step-2 {
  display: block;
  background-image: url("/images/better-lives.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  top: 100vh;
  transform: translate3d(0, 0, 0);
  transition: all 750ms ease;
}
#about #step-2.scroll {
  overflow-y: scroll;
}
#about #step-2 .header,
#about #step-2 .sub-header {
  transform: translate3d(0, 20vh, 0);
  transition: all 500ms ease;
  transition-delay: 150ms;
}
#about #step-2 .copy {
  background-color: rgba(241,234,208,0.85);
  width: 785px;
  height: 360px;
  padding: 30px 40px;
  margin: 0 auto;
  transform: translate3d(0, 30vh, 0);
  transition: all 1s ease;
  transition-delay: 350ms;
}
#about #step-2 .copy p {
  font-size: 20px;
  font-family: "Proxima Nova";
  color: #361f00;
  font-weight: bold;
  line-height: 1.603;
  text-align: justify;
  z-index: 275;
  margin: 0;
}
#about #step-2 .copy p .break {
  display: block;
  margin: 7px;
}
#about.is-step-2 #step-2 {
  transform: translate3d(0, -100vh, 0);
  transition: all 750ms ease;
}
#about.is-step-2 #step-2 .header,
#about.is-step-2 #step-2 .sub-header {
  transform: translate3d(0, 0, 0);
  transition: all 750ms ease;
  transition-delay: 350ms;
}
#about.is-step-2 #step-2 .copy {
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
  transition-delay: 350ms;
}
#about.is-step-3 #step-2,
#about.is-step-4 #step-2,
#about.is-step-5 #step-2 {
  transform: translate3d(0, -200vh, 0);
  transition: all 750ms ease;
}
#about.is-step-3 #step-2 .header,
#about.is-step-4 #step-2 .header,
#about.is-step-5 #step-2 .header,
#about.is-step-3 #step-2 .sub-header,
#about.is-step-4 #step-2 .sub-header,
#about.is-step-5 #step-2 .sub-header {
  transform: translate3d(0, -30vh, 0);
  transition: all 1500ms ease;
}
#about.is-step-3 #step-2 .copy,
#about.is-step-4 #step-2 .copy,
#about.is-step-5 #step-2 .copy {
  transform: translate3d(0, -10vh, 0);
  transition: all 500ms ease;
  transition-delay: 350ms;
}
@media screen and (max-width: 680px) {
  #about #step-2 {
    background-size: cover;
  }
  #about #step-2 .copy {
    width: 336px;
    height: 516px;
    margin-bottom: 160px;
  }
  #about #step-2 .copy p {
    font-size: 15px;
  }
}
