#about #step-3 {
  display: block;
  background: #221010;
  text-align: center;
  opacity: 1;
  top: 100vh;
  height: 100vh;
  overflow-y: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 750ms ease;
}
#about #step-3.scroll {
  overflow-y: scroll;
}
#about #step-3 .header {
  transform: translate3d(0, -35vh, 0);
  transition: all 750ms ease;
  transition-delay: 350ms;
}
#about #step-3 .team-member {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  background-color: #f2be3d;
  color: #221010;
  margin: 10px 10px 0 -4px;
  padding: 60px 40px;
  width: 300px;
  height: 320px;
  transform: translate3d(0, 10vh, 0);
  opacity: 0;
  transition: all 700ms ease;
  transition-delay: 500ms;
}
#about #step-3 .team-member .name {
  font-size: 18px;
  display: block;
  font-family: "Proxima Nova";
  color: #5b3732;
  font-weight: 800;
  text-transform: uppercase;
}
#about #step-3 .team-member .title {
  font-size: 12px;
  display: block;
  line-height: 1;
  font-weight: bold;
  font-family: "Proxima Nova";
  color: #5b3732;
  text-transform: uppercase;
}
#about #step-3 .team-member .description {
  margin-top: 14px;
  font-size: 12px;
  max-width: 200px;
  font-family: "Proxima Nova";
  color: #5b3732;
}
#about.is-step-3 #step-3 {
  transform: translate3d(0, -100vh, 0);
  transition: all 750ms ease;
}
#about.is-step-3 #step-3 .header {
  transform: translate3d(0, 0, 0);
  transition: all 750ms ease;
  transition-delay: 350ms;
}
#about.is-step-3 #step-3 .team-member {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: all 700ms ease;
}
#about.is-step-3 #step-3 .team-member.team-1 {
  transition-delay: 250ms;
}
#about.is-step-3 #step-3 .team-member.team-2 {
  transition-delay: 500ms;
}
#about.is-step-3 #step-3 .team-member.team-3 {
  transition-delay: 750ms;
}
#about.is-step-3 #step-3 .team-member.team-4 {
  transition-delay: 1s;
}
#about.is-step-3 #step-3 .team-member.team-5 {
  transition-delay: 1250ms;
}
#about.is-step-3 #step-3 .team-member.team-6 {
  transition-delay: 1500ms;
}
#about.is-step-4 #step-3,
#about.is-step-5 #step-3 {
  transform: translate3d(0, -200vh, 0);
  transition: all 750ms ease;
}
@media screen and (max-width: 680px) {
  #about #step-3 {
    padding-bottom: 160px;
  }
  #about #step-3 .team-member {
    width: 45%;
    height: 160px;
    margin: 10px 5px 0 5px;
    padding: 30px 20px;
  }
  #about #step-3 .team-member .title {
    font-size: 10px;
  }
  #about #step-3 .team-member .name {
    font-size: 8px;
  }
  #about #step-3 .description {
    font-size: 9px;
    max-width: none;
  }
}
