&#about

  #step-2
    display block
    background-image url(/images/better-lives.png)
    background-position-x center
    background-size cover
    background-repeat no-repeat
    opacity 1
    position: static
    background-size cover
    height auto
    width 100vw
    z-index 2

    .copy
      background-color rgba(241, 234, 208, 0.85)
      max-width 785px
      min-height 360px
      width 70vw
      height auto
      padding 30px 40px
      margin 0 auto

      p
        font-size 20px
        font-family "proxima-nova"
        color rgb(54, 31, 0)
        font-weight bold
        line-height 1.603
        text-align justify
        z-index 275
        margin 0

        .break
          display block
          margin 7px

@media screen and (max-width 680px)
  &#about

    #step-2
      position: static
      height auto
      background-size cover
      padding 40px 0

      .copy
        margin-bottom 160px

        p
          font-size 15px
