
$width = 1200px
$height = 100vh

&#about
  #step-4
    opacity 1
    background none
    top 0
    left 0
    width 100vw
    position static
    height auto

    .our-story
      width $width
      height: auto
      margin 0 auto
      position relative
      left 50%
      top 0
      margin-left ($width * -0.5)

      h1
        width 100%
        max-width 1200px
        text-align center
        position absolute
        top 40px

    .story-1, .story-2, .story-3, .story-4, .story-5, .story-6, .story-7, .story-8, .story-9
      height 100vh
      position relative
      margin-bottom 40px
      width 100vw

      .story__content
        width 1200px
        position absolute
        left 50vw
        margin-left -600px

      .story-img
        position absolute
        top 40%
        left 0
        height auto
        width $width * 0.4

        h3
          font-size 60px
          font-family "proxima-nova"
          color rgb(241, 234, 208)
          text-transform uppercase
          margin-bottom 0
          font-weight 100
          line-height 1
          width 100%
          text-align center
          // transform translate3d(0, (0.2 * $height), 0)
          // transition all 1s ease-in

        img
          width 100%
          height auto
          // transform translate3d(0, (-0.3 * $height), 0)
          // transition all 750ms ease-in


      .story-text
        position absolute
        left $width * 0.5
        top 40%
        width 530px
        z-index 99
        display flex
        flex-direction column
        height 100vh

        h2
          font-size 20px
          font-family "proxima-nova"
          color #f1ead0
          text-transform uppercase
          line-height 1.271
          text-align left
          text-shadow 0px 2px 13px rgba(0,0,0,0.3)
          z-index 296
          margin-bottom 40px

        p
          font-size 20px
          font-family "proxima-nova"
          color #fff
          font-weight bold
          line-height 1.454
          text-align justify
          z-index 295
          margin 0
          margin-top 0
          position relative
          width 100%
          top 0
          left 0
          display flex
          flex-direction column

      .line-top
        position relative
        top -5vh
        background -webkit-linear-gradient(rgba(241, 234, 208, 0.5), rgba(241, 234, 208, 0.1))
        background -o-linear-gradient(rgba(241, 234, 208, 0.5), rgba(241, 234, 208, 0.1))
        background -moz-linear-gradient(rgba(241, 234, 208, 0.5), rgba(241, 234, 208, 0.1))
        background linear-gradient(rgba(241, 234, 208, 0.5), rgba(241, 234, 208, 0.1))
        display block
        width 8px
        height (($height * 0.2) + 400 )
        margin-top 24px
        z-index 999


      .line
        background -webkit-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
        background -o-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
        background -moz-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
        background linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
        display block
        width 8px
        margin-top 24px
        height 100vh

    .story-1

      .story-img
        top 30%

      .story-text
        top 40%

    .story-2, .story-6

      .story-img
        top 42%
        h3
          margin-bottom 52px

    .story-3, .story-5

      .story-img
        top 39%
        h3
          margin-bottom 52px

    .story-6

      .story-text
        height 115vh

    .story-7, .story-8, .story-9

      .story-text
        top 55%

    .story-9
      .story-img
        img
          position relative
          top -200px

@media screen and (max-width 1200px)
  &#about
    #step-4
      .our-story
        width 100vw
        margin-left -50vw

      .story-1, .story-2, .story-3, .story-4, .story-5, .story-6, .story-7, .story-8, .story-9
        width 100vw

        .story-img
          width 40vw

          h3
            font-size 6vw

        .story-text
          left 47vw
          width 45vw
          display flex
          flex-direction column
          height 100vh


          h2, p
            font-size 1.92vw

          p
            display flex
            flex-direction column

          .line
            width 4px
            flex-grow 1

@media screen and (max-width 680px)
  &#about

    #step-4
      position static
      height auto

      .our-story
        h1
          top: 0

      h1
        margin-top 0

      .story-1, .story-2, .story-3, .story-4, .story-5, .story-6, .story-7, .story-8, .story-9
        height auto
        position static
        margin 40px 0

        br
          display none

        .line
          margin 10px auto
          width 4px
          height 30vh
          background -webkit-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
          background -o-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
          background -moz-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))
          background linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1))


        .line-top
          display none

        .story-text
          position relative
          display block
          width 80vw
          margin 5vw 10vw
          left 0
          top 0

        .story-img
          position relative
          height 150px
          display inline-block
          width 100vw
          margin 10vw 0
          overflow hidden
          left 0
          top 5vh

          img
            position absolute
            left 0
            width 100%


          h3
            position absolute
            bottom 0
            font-size 35px
            z-index 999
            opacity 0.75
            padding 40px 0 0 0
            bottom 0
            margin-bottom 0
            background linear-gradient(rgba(44, 21, 0, 0), rgba(44, 21, 0, 1))

        .story-text
          height auto

          h2, p
            font-size 15px

      .story-1
        margin-top 100px

      .story-9
        margin-bottom 160px

        .story-img
          height 200px

          img
            top -150px
