&.nav-open
  left 410px
  transition left 350ms ease-out

&#about
  position absolute
  top 0
  width 100vw
  height 100vh
  text-align center
  color rgb(241, 234, 208)
  transition left 350ms ease-out
  background -webkit-linear-gradient(#ee9347, #f2bc3d)
  background -o-linear-gradient(#ee9347, #f2bc3d)
  background -moz-linear-gradient(#ee9347, #f2bc3d)
  background linear-gradient(#ee9347, #f2bc3d)

  .story-background
    position: fixed
    top: 0
    left 0
    width 100vw
    height 100vh
    z-index -1
    background -webkit-linear-gradient(#ee9347, #f2bc3d)
    background -o-linear-gradient(#ee9347, #f2bc3d)
    background -moz-linear-gradient(#ee9347, #f2bc3d)
    background linear-gradient(#ee9347, #f2bc3d)

  .about__content
    max-width 1200px
    position relative
    margin 0 auto

  h1
    font-size 90px
    font-family "Freeland"
    font-weight normal
    color rgb(241, 234, 208)
    line-height 1
    text-align center
    margin-top 45px
    margin-bottom 10px
    text-shadow 0px 2px 13px rgba(0, 0, 0, 0.3)
    z-index 302

  h2
    font-size 20px
    font-family "proxima-nova"
    color rgb(241, 234, 208)
    font-weight bold
    text-transform uppercase
    line-height 2.199
    text-align center
    text-shadow 0px 2px 13px rgba(0, 0, 0, 0.3)
    z-index 301

  #step-1
    opacity 1
    background none
    height auto
    min-height 150vh
    position: static

    .date
      display inline-block
      width 33%
      position relative

      h2
        font-size 130px
        font-family "proxima-nova"
        color rgba(255,255,255, 0.25)
        text-shadow none
        text-transform uppercase
        line-height 1.271
        text-align right
        font-weight 100
        left -70px
        top -182px
        position absolute
        z-index 298

    .copy
      display inline-block
      width 45.83%
      padding 60px 10px

      h2
        font-family "proxima-nova"
        color rgb(241, 234, 208)
        font-weight bold
        text-transform uppercase
        line-height 1.271
        text-align left
        width 350px
        text-shadow 0px 2px 13px rgba(0, 0, 0, 0.3)
        z-index 296

      p
        font-size 20px
        font-family "proxima-nova"
        color #f1ead0
        line-height 1.454
        font-weight bold
        text-align justify
        max-width 497px
        width 45vw
        z-index 295
        margin 0

      .line
        background -webkit-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0))
        background -o-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0))
        background -moz-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0))
        background linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0))
        display block
        width 8px
        position absolute
        margin-top 10px
        height 300px
        z-index -1


    .africa
      position absolute
      top 28%
      left -4%
      width 65%
      opacity 0.75
      z-index -1

@media screen and (max-width 680px)
  &#about

    .about__content
      padding 0

    h1
      font-size 48px
      margin-top 85px

    h2
      font-size 15px
      line-height 1

    #step-1
      height 100vh
      position: static

      .date
        position relative
        left 0
        top -30px
        width 100%
        text-align center

        h2
          width 100vw
          left 0
          top 0
          color #f1ead0
          text-align center
          font-size 46px
          margin 0

      .africa
        width 100%
        left -5%
        top 15%

        img
          width 100%
          height auto

      .copy
        padding 30px 20px
        width 100%

        .line
          display: block;
          margin: 10px 44vw;
          width: 4px;

        h2
          width auto

        p
          width 100%
          max-width 100%
          font-size 15px
