/* Checkout Stuff */
.checkout-button
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  position: absolute
  right: 40px
  top: 30px
  color: #f1ead0
  font-family: 'proxima-nova', 'Helvetica', sans-serif
  text-decoration: none
  padding: 5px 12px
  border: 2px solid #f1ead0
  text-transform: uppercase

.checkout-container
  position: absolute
  width: 100vw
  height: 100vh
  top: -500vh
  transition: top 500ms ease
  overflow-y: scroll

  input,
  select,
  button,
  select > input[type="button"],
  textarea
    -moz-appearance: none !important
    line-height: 1em !important
    vertical-align: middle
    color: black !important

  input,
  select,
  button,
  select > input[type="button"],
  textarea,
  .selectize-input
    border: 2px solid #c9c9c9

  a
    color: #ed8d48
    text-decoration: underline

  h1
    font-size: 20px

  .checkout
    border-radius: 3px
    position: absolute
    padding: 30px
    margin: 10vh 0
    width: 90%
    display: table
    max-width: 1000px
    left: 50%
    transform: translateX(-50%)
    background-color: white
    color: #414141

    input[type=text]
      width: 100%

    input[type=text]
    button
      color: #414141
      height: 32px
      line-height: 1em
      font-size: 16px

    button
      background-color: #ed8d48
      border: 2px solid #ed8d48
      font-size: 1em
      color: white !important

    .error
      color: #ed8d48
      font-size: 14px
      padding: 8px 0

.is-open
  .checkout-container
    top: 0vh

cart
  padding-bottom: 40px

cart
checkout
lineitems
lineitem
quantity-select-control
.promo
.promo-row
.invoice-line
.input
  width: 100%
  display: table
  position: relative

.selectize-control.single .selectize-input::after
  top: 12px
  right: 8px
  margin-top: 0px

.selectize-input
  border-radius: 0 !important
  height: 32px !important
  max-width: 60px

  input
    position: absolute !important

.selectize-dropdown.single
  border-radius: 0 !important

.product-quantity-container
  width: 45px !important
  display: inline-block

.product-description
  padding-top: 3px
  padding-left: 6px
  display: inline-block
  vertical-align: top

.product-text-container
  width: 75%

.product-price-container
  width: 25%
  text-align: right
  float: right

.product-slug
  display: none

.product-delete
  display: none

.product-currency
  display: inline

.product-list-price
  text-decoration: line-through;

lineitems
  padding-bottom: 20px

lineitem
  & > *
    float: left;

.promo-row
  padding-bottom: 20px

  & > *
    float: left;
  promocode
    width: 40%

    input
      border-right: 0
  button
    width: 20%
  .promo-message
    width: 40%
    padding: 5px 0 5px 16px
    text-align: right

.invoice-line
  & > *
    float: left

  div:first-child
    width:70%
    padding-right:5%

  div:last-child
    width: 30%

.invoice-label
  color: #999

.invoice-total
  font-weight: bold
  font-size: 1.1em
  .invoice-label
    color: #414141

.invoice-amount
  text-align: right
  font-weight: bold

checkout
  .input
    padding-bottom: 16px
    line-height: 2em

  .selectize-input
    max-width: 100%

    .item
      font-size: 16px

    input
      width: 100% !important
      margin-top: -6px !important
      margin-left: 16px !important
      left: 0

  .fields
    width: 100%
    display: table

    & > *
      float: left

.contact-information
.shipping-information
.payment-information
.confirmation
cart
  margin-bottom: 30px
  position: relative
  padding: 16px
  border: 2px solid #C9C9C9

cart
  line-height: 1.8em

shippingaddress-line1
  width: 55% !important
  margin-right: 5%

shippingaddress-line2
  width: 40% !important

shippingaddress-city
  width: 65% !important
  margin-right: 5%

shippingaddress-postalcode
  width: 30% !important

shippingaddress-state
  width: 40% !important
  margin-right: 5%

shippingaddress-country
  width: 55% !important

card-number
  width: 46% !important
  margin-right: 4%

card-expiry
  width: 23% !important
  margin-right: 4%

card-cvc
  width: 23% !important

cart
checkout
  float: right
  width: 48%

checkout
  margin-right: 4%

.stripe-logo
  width: 100px

.continue-shopping
  cursor: pointer
  margin-top: -10px
  text-align: right

  h1
    font-size: 1em !important

  i
    margin-bottom: -8px

.lock,
.arrow-left,
.shopping-bag
  height: 26px !important
  width: 26px !important
  background-size: cover !important
  display:inline-block;

.lock
  background: url(/images/icons/lock.svg)
  position: absolute
  top: 16px
  right: 12px

.arrow-left
  margin-right: 8px
  background: url(/images/icons/arrow-left.svg)

.shopping-bag
  margin-left: 8px
  background: url(/images/icons/shopping-bag.svg)

terms
  font-size: 14px
  font-family: helvetica
  margin-bottom: 20px
  display: block

  label
    padding-top: 2px;

  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: ''
    position: absolute
    left:0
    top: 0px
    width: 17px; height: 17px;
    border: 2px solid #aaa;
    background: #f8f8f8;
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px; left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid #4778d9!important;
  }

button[type=submit]
  width: 100%;
  font-size: 20px !important;
  padding: 20px;
  line-height: 2px !important;

.thankyou
  position: absolute
  top: 35vh
  max-width: 600px
  width: 80vw
  padding: 40px
  opacity: 0
  transition: opacity 500ms ease
  left: 50%
  transform: translateX(-50%)
  display:none
  text-align: center

  .social
    text-align: center

    > *
      margin-top: 0

@media screen and (max-width: 500px)
  .checkout
    font-size: 80%
    padding: 20px

    .product-description
      margin-top: -50px
      margin-left: 55px

    input,
    select,
    button,
    select > input[type="button"],
    textarea
      font-size: 70%

      // Makes iOS checkbox appear correctly but skews desktop
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after
      top: 6px; left: 1px
      font-size: 10px
      line-height: 0.8

  .input
    width: 100% !important

  .product-price-container
    width: 100%
    float: right
    text-align: right

  .invoice-line
    & > *
      float: left

    div:first-child
      width:50%
      text-align: left

    div:last-child
      width: 50%
      text-align: right

@media screen and (max-width: 600px)
  .promo-row
    padding-bottom: 20px

    & > *
      float: left;
    promocode
      width: 60% !important
    button
      width: 40%
    .promo-message
      width: 100%
      padding: 5px
      text-align: center

@media screen and (max-width: 980px)
  cart
  checkout
    width: 100%
    margin-right: 0

@media screen and (max-width: 980px)
  cart
  checkout
    width: 100%
    margin-right: 0

.video
  left: 100px
  right: initial !important

@media screen and (max-width: 980px)
  .checkout-button
    right: 20px
    top:17px

  .video
    left: 80px !important
    right: initial

// Loader Stuff
.loader
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  top: 0;
  left: 0;

  &.hidden
    display: none
    opacity: 0

.loader .spinner {
  font-size: 10px;
  top: 50%;
  margin: -50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f1ead0;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader .spinner:before {
  width: 50%;
  height: 50%;
  background: #f1ead0;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader .spinner:after {
  background: #000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
