.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.visuals {
  position: fixed;
  margin-bottom: 3%;
  z-index: 500;
}
.visuals__variants .swatch {
  z-index: 1000;
}
.visuals .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.visuals .visuals {
  position: fixed;
  margin-bottom: 3%;
  z-index: 500;
}
.visuals .visuals__variants .swatch {
  z-index: 1000;
}
.visuals .visuals__candle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/images/Candle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40%;
  max-width: 240px;
  height: 50%;
  transition: transform 1900ms ease, background-image 100ms ease;
  opacity: 1;
  transform: translate3d(0, -15%, 0);
  z-index: 500;
}
.splash.is-step-1 .visuals .visuals__candle,
.splash.is-step-2 .visuals .visuals__candle,
.splash.is-step-3 .visuals .visuals__candle {
  opacity: 1;
  transform: translate3d(0, -15%, 0);
}
.splash.is-step-4 .visuals .visuals__candle,
.splash.is-step-5 .visuals .visuals__candle,
.splash.is-step-6 .visuals .visuals__candle,
.splash.is-step-7 .visuals .visuals__candle {
  transform: translate3d(0, -100vh, 0);
}
.visuals .visuals__flame {
  position: absolute;
  bottom: 35.7%;
  width: 17.083333333333332%;
  height: 148px;
  left: 41.458333333333336%;
  background-image: url("/images/CandleFlame.png");
  background-repeat: no-repeat;
  background-position: 50%;
  transform: translate3d(0, -27%, 0);
  opacity: 0;
  transition: opacity 500ms ease, transform 1000ms ease;
  z-index: 90;
}
.splash.is-step-1 .visuals .visuals__flame {
  opacity: 1;
  transform: translate3d(0, -27%, 0);
}
.splash.is-step-2 .visuals .visuals__flame {
  opacity: 0;
  transition-delay: 500ms;
}
.splash.is-step-3 .visuals .visuals__flame {
  opacity: 1;
  transition: opacity, transform;
  transition-delay: 500ms, 500ms;
  transform: translate3d(0, -27%, 0);
}
.splash.is-step-4 .visuals .visuals__flame,
.splash.is-step-5 .visuals .visuals__flame,
.splash.is-step-6 .visuals .visuals__flame {
  opacity: 0;
  z-index: 0;
}
.visuals .visuals__phone {
  position: absolute;
  bottom: 0;
  width: 33.33333333333333%;
  max-width: 220px;
  height: 42%;
  max-height: 400px;
  background-image: url("/images/Iphone_Screen_3.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 38%;
  margin-right: auto;
  left: 20%;
  right: 0;
  z-index: 510;
  transform: translate3d(0, 100vh, 0);
  transition: transform 1500ms ease;
}
.splash.is-step-2 .visuals .visuals__phone,
.splash.is-step-3 .visuals .visuals__phone {
  transform: translate3d(0, 15%, 0);
}
.splash.is-step-4 .visuals .visuals__phone,
.splash.is-step-5 .visuals .visuals__phone,
.splash.is-step-6 .visuals .visuals__phone {
  transform: translate3d(0, -100vh, 0);
}
.visuals .visuals__core {
  position: absolute;
  bottom: 9.3%;
  left: 22%;
  background-image: url("/images/Core.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 55%;
  height: 47%;
  transition: transform 1500ms ease, opacity 1500ms ease, left 550ms ease;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 80;
}
.splash.is-step-1 .visuals .visuals__core,
.splash.is-step-2 .visuals .visuals__core,
.splash.is-step-3 .visuals .visuals__core,
.splash.is-step-4 .visuals .visuals__core {
  transform: translate3d(0, -15%, 0);
  transition-delay: 200ms;
}
.splash.is-step-4 .visuals .visuals__core,
.splash.is-step-5 .visuals .visuals__core,
.splash.is-step-6 .visuals .visuals__core {
  opacity: 1;
}
.splash.is-step-5 .visuals .visuals__core {
  transform: translate3d(0, -100vh, 0);
  transition: transform 1500ms ease, left 550ms ease;
  transition: transform, left;
  transition-delay: 400ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__core {
  left: -2.5%;
  opacity: 1;
  transition: transform, opacity, left;
  transition-delay: 300ms, 0ms, 3500ms;
}
.visuals .visuals__board {
  position: absolute;
  bottom: 10.2%;
  background: url("/images/Board.png");
  left: 22%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 55%;
  height: 44%;
  transition: transform 1500ms ease, opacity 1500ms ease, left 550ms ease;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 50;
}
.splash.is-step-1 .visuals .visuals__board,
.splash.is-step-2 .visuals .visuals__board,
.splash.is-step-3 .visuals .visuals__board {
  opacity: 0;
  left: 36%;
  transform: translate3d(0, -15%, 0);
}
.splash.is-step-4 .visuals .visuals__board {
  opacity: 1;
  transform: translate3d(0, -15%, 0);
  transition-delay: 300ms;
}
.splash.is-step-5 .visuals .visuals__board {
  left: 36%;
  opacity: 1;
  transform: translate3d(0, -100vh, 0);
  transition: transform 1500ms ease, left 550ms ease, opacity 1500ms ease;
  transition: transform, left, opacity;
  transition-delay: 400ms, 0ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__board {
  left: 12.5%;
  opacity: 0;
  z-index: 0;
  transition: transform, opacity, left;
  transition-delay: 300ms, 3s, 3500ms;
}
.visuals .visuals__battery {
  position: absolute;
  bottom: 10.2%;
  background: url("/images/Battery.png");
  left: 22%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 55%;
  height: 44%;
  transition: transform 1500ms ease, opacity 1500ms ease, left 1700ms ease;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 100;
}
.splash.is-step-1 .visuals .visuals__battery,
.splash.is-step-2 .visuals .visuals__battery,
.splash.is-step-3 .visuals .visuals__battery {
  opacity: 1;
  left: 10%;
  transform: translate3d(0, -15%, 0);
}
.splash.is-step-4 .visuals .visuals__battery {
  opacity: 1;
  transform: translate3d(0, -15%, 0);
  transition-delay: 300ms;
}
.splash.is-step-5 .visuals .visuals__battery {
  left: 10%;
  transform: translate3d(0, -100vh, 0);
  transition: transform 1500ms ease, left 550ms ease, opacity 1500ms ease;
  transition: transform, left, opacity;
  transition-delay: 400ms, 0ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__battery {
  left: -15%;
  opacity: 0;
  transition: transform, opacity, left;
  transition-delay: 300ms, 2000ms, 3000ms;
}
.visuals .visuals__wax {
  position: absolute;
  bottom: 12.2%;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url("/images/Wax_Insert.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 55%;
  height: 47%;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  transition: transform 500ms ease, left 550ms ease;
  transition: transform, left;
  z-index: 70;
}
.splash.is-step-4 .visuals .visuals__wax,
.splash.is-step-6 .visuals .visuals__wax {
  opacity: 1;
}
.splash.is-step-5 .visuals .visuals__wax {
  transition: transform 1500ms ease, left 550ms ease;
  transition: transform, left;
  transition-delay: 700ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__wax {
  z-index: -50;
  left: -50%;
  opacity: 1;
  transition: transform, left;
  transition-delay: 500ms, 3500ms;
}
.visuals .visuals__wax-with-flame {
  position: absolute;
  bottom: 10.2%;
  right: 0;
  left: 0;
  margin: auto;
  background-image: url("/images/wick_wax_flame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 55%;
  height: 55%;
  transition: opacity 1500ms ease;
  transition-delay: 380ms;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 70;
}
.splash.is-step-1 .visuals .visuals__wax-with-flame,
.splash.is-step-2 .visuals .visuals__wax-with-flame,
.splash.is-step-3 .visuals .visuals__wax-with-flame,
.splash.is-step-4 .visuals .visuals__wax-with-flame,
.splash.is-step-6 .visuals .visuals__wax-with-flame {
  opacity: 0;
}
.splash.is-step-5 .visuals .visuals__wax-with-flame {
  opacity: 1;
}
.splash.is-step-6 .visuals .visuals__wax-with-flame {
  z-index: 0;
  opacity: 0;
}
.visuals .visuals__wick {
  position: absolute;
  bottom: 47%;
  left: 40%;
  background-image: url("/images/Wick.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 20%;
  height: 5%;
  transition: opacity 500ms ease, left 550ms ease;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 70;
}
.splash.is-step-5 .visuals .visuals__wick,
.splash.is-step-6 .visuals .visuals__wick {
  opacity: 1;
}
.splash.is-step-5 .visuals .visuals__wick {
  transition: transform 1500ms ease, left 550ms ease;
  transition: transform, left;
  transition-delay: 700ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__wick {
  opacity: 0;
  transition: transform, left;
  transition-delay: 500ms, 3500ms;
}
.visuals .visuals__wax-flame {
  position: absolute;
  bottom: 49%;
  left: 40%;
  background-image: url("/images/flame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 20%;
  height: 10%;
  transition: opacity 500ms ease, left 550ms ease;
  opacity: 0;
  transform: translate3d(0, -15%, 0);
  z-index: 110;
}
.splash.is-step-5 .visuals .visuals__wax-flame,
.splash.is-step-6 .visuals .visuals__wax-flame {
  opacity: 1;
}
.splash.is-step-5 .visuals .visuals__wax-flame {
  transition: transform 1500ms ease, left 550ms ease, opacity 1000ms ease;
  transition: transform, left, opacity;
  transition-delay: 700ms, 0ms, 1500ms;
}
.splash.is-step-6 .visuals .visuals__wax-flame {
  opacity: 0;
}
.visuals .visuals__shell {
  position: absolute;
  bottom: 7%;
  left: 30.76923076923077%;
  background-image: url("/images/candle_colors/ivory-shell-full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 40%;
  height: 60%;
  transition: transform 1500ms ease, left 550ms ease, background 1s ease;
  opacity: 0;
  transform: translate3d(0, -100vh, 0);
  z-index: 110;
}
.splash.is-step-5 .visuals .visuals__shell {
  opacity: 1;
  transform: translate3d(0, -100vh, 0);
  transition: transform 1200ms ease, left 550ms ease;
  transition: transform, left;
  transition-delay: 100ms, 0ms;
}
.splash.is-step-6 .visuals .visuals__shell {
  left: 5%;
  opacity: 1;
  transform: translate3d(0, -15%, 0);
  transition: transform 1200ms ease, left 550ms ease;
  transition: transform, left;
  transition-delay: 1300ms, 3500ms;
}
.visuals .visuals__shell.is-green {
  background-image: url("/images/candle_colors/green-shell-full.png");
}
.visuals .visuals__shell.is-blue {
  background-image: url("/images/candle_colors/blue-shell-full.png");
}
.visuals .visuals__shell.is-red {
  background-image: url("/images/candle_colors/red-shell-full.png");
}
.visuals .visuals__shell.is-purple {
  background-image: url("/images/candle_colors/purple-shell-full.png");
}
.visuals .visuals__shell.is-orange {
  background-image: url("/images/candle_colors/orange-shell-full.png");
}
.visuals .visuals .arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgba(255,255,255,0.3);
  position: absolute;
  left: -20px;
  top: 20px;
}
.visuals .visuals__variants {
  position: absolute;
  opacity: 0;
  bottom: 10%;
  left: 40%;
  width: 45%;
  max-width: 310px;
  height: 48%;
  transition: opacity 1500ms ease, left 550ms ease;
  opacity: 0;
  transform: translate3d(0, -13%, 0);
  color: #211d1c;
}
.splash.is-step-5 .visuals .visuals__variants {
  transition: opacity 500ms ease, left 550ms ease;
}
.splash.is-step-6 .visuals .visuals__variants {
  left: 50%;
  opacity: 1;
  transition: opacity, left;
  transition-delay: 3600ms, 3500ms;
}
.visuals .visuals__variants .footnote p {
  color: #211d1c;
  font-size: 6px;
  padding-left: 16px;
}
.visuals .visuals__info {
  position: relative;
  padding: 1px 24px;
  font-size: 7px;
  margin-bottom: 16px;
}
.visuals .visuals__info:before {
  position: absolute;
  content: '';
  background: #fff;
  opacity: 0.3;
}
.visuals .visuals .swatches {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.visuals .visuals .swatch {
  display: inline-block;
  background: #000;
  width: 30%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  cursor: pointer;
  z-index: 200;
}
.visuals .visuals .swatch img {
  width: 100%;
  height: 45px;
}
.visuals .visuals .swatch__name {
  padding: 3px 7px;
  color: #000;
  background: #fff;
  font-size: 6px;
  font-weight: 600;
}
@media all and (min-width: 400px) {
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -45%, 0);
  }
}
@media all and (min-width: 600px) and (min-height: 600px) {
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -80%, 0);
  }
}
@media all and (min-width: 800px) and (min-height: 700px) {
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, 0%, 0);
  }
}
@media all and (min-width: 800px) and (min-height: 850px) {
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, 10%, 0);
  }
}
@media all and (min-width: 800px) {
  .visuals .visuals__candle {
    width: 20%;
  }
  .visuals .visuals__flame {
    bottom: 42.7%;
    width: 17.083333333333332%;
    height: 148px;
  }
  .visuals .visuals__phone {
    left: 15%;
    width: 16.666666666666664%;
  }
  .splash.is-step-2 .visuals .visuals__phone,
  .splash.is-step-3 .visuals .visuals__phone {
    transform: translate3d(0, -15%, 0);
  }
  .visuals .visuals__core {
    left: 40%;
    width: 20%;
    bottom: 10.1%;
  }
  .splash.is-step-6 .visuals .visuals__core {
    left: 26.6%;
  }
  .visuals .visuals__board {
    left: 40%;
    width: 20%;
  }
  .splash.is-step-1 .visuals .visuals__board,
  .splash.is-step-2 .visuals .visuals__board,
  .splash.is-step-3 .visuals .visuals__board {
    left: 44%;
    opacity: 0;
  }
  .splash.is-step-5 .visuals .visuals__board,
  .splash.is-step-7 .visuals .visuals__board {
    left: 45%;
  }
  .splash.is-step-6 .visuals .visuals__board {
    left: 31%;
  }
  .visuals .visuals__battery {
    left: 40%;
    width: 20%;
  }
  .splash.is-step-1 .visuals .visuals__battery,
  .splash.is-step-2 .visuals .visuals__battery,
  .splash.is-step-3 .visuals .visuals__battery {
    opacity: 0;
    left: 36.6%;
  }
  .splash.is-step-5 .visuals .visuals__battery,
  .splash.is-step-7 .visuals .visuals__battery {
    left: 36%;
  }
  .splash.is-step-5 .visuals .visuals__battery {
    opacity: 1;
  }
  .splash.is-step-6 .visuals .visuals__battery {
    left: 22.5%;
  }
  .visuals .visuals__wax {
    height: 48%;
    left: -0.2%;
    width: 20%;
  }
  .splash.is-step-6 .visuals .visuals__wax {
    left: -26.5%;
  }
  .visuals .visuals__wax-with-flame {
    left: 0;
    width: 20%;
  }
  .visuals .visuals__wick {
    width: 2%;
    height: 5%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .splash.is-step-6 .visuals .visuals__wick {
    left: 26.666666666666668%;
  }
  .visuals .visuals__wax-flame {
    bottom: 52%;
    width: 1%;
    height: 7%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  .visuals .visuals__shell {
    left: 40%;
    width: 20%;
    height: 60%;
    bottom: 7%;
  }
  .splash.is-step-6 .visuals .visuals__shell {
    left: 26.666666666666668%;
  }
  .visuals .visuals__variants {
    width: 30%;
  }
  .visuals .visuals__variants .footnote p {
    font-size: 14px;
  }
  .visuals .visuals__info {
    font-size: 12px;
  }
  .visuals .visuals .swatch {
    width: 30%;
    max-width: 100px;
  }
  .visuals .visuals .swatch__name {
    font-size: 12px;
  }
}
@media all and (min-width: 1000px) {
  .visuals .visuals .visuals__wax {
    height: 43.5%;
  }
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -30%, 0);
  }
}
@media all and (min-width: 1300px) {
  .visuals .visuals .visuals__wick {
    bottom: 50%;
  }
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -40%, 0);
  }
}
@media all and (min-width: 1300px) and (max-height: 800px) {
  .visuals .visuals .visuals__wick {
    bottom: 50%;
  }
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -30%, 0);
  }
}
@media all and (min-height: 850px) {
  .visuals .visuals .visuals .swatch img {
    height: 100%;
  }
}
@media all and (max-height: 698px) {
  .visuals .visuals .visuals__variants .footnote {
    position: absolute;
    top: 0;
    left: 100%;
  }
  .splash.is-step-1 .visuals .visuals .visuals__flame,
  .splash.is-step-3 .visuals .visuals .visuals__flame {
    transform: translate3d(0, -18%, 0);
  }
}
@media all and (min-width: 800px) {
  .visuals .container {
    width: 94%;
  }
}
@media all and (min-width: 800px) {
  .container {
    width: 94%;
  }
}
