$candle_width = 240
$candle_height = 400
$phone_width = 200
$phone_height = 390


&__candle
  position absolute
  bottom 0
  // left (((1200 - $candle_width) / 2) / 1200) * 100%
  left 0
  right 0
  margin-left auto
  margin-right auto
  background-image url('/images/Candle.png')
  background-size contain
  background-repeat no-repeat
  background-position 50% 50%
  width (($candle_width / 1200) * 2) * 100%
  max-width 240px
  height 50%
  // height ($candle_height / 700) * 100%
  transition transform 1900ms ease, background-image 100ms ease
  opacity 1
  transform translate3d(0, -15%, 0)
  z-index 500

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &
    opacity 1
    transform translate3d(0, -15%, 0)

  / .splash.is-step-4 &,
  / .splash.is-step-5 &,
  / .splash.is-step-6 &,
  / .splash.is-step-7 &
    transform translate3d(0, -100vh, 0)

// &__candle-reflection
//   position absolute
//   // left (((1200 - 300) / 2) / 1200) * 100%
//   left 0
//   right 0
//   margin-left auto
//   margin-right auto
//   bottom 0
//   background-image url('/images/Shadow_Reflection.png')
//   background-size contain
//   background-repeat no-repeat
//   background-position 50% 50%
//   width (300 / 1200) * 100%
//   max-width 320px
//   height (($candle_height / 700) / 3) * 100%
//   max-height 118px
//   transition opacity 350ms ease
//   opacity 1
//   transform translate3d(0, -15%, 0)
//   z-index 400

//   / .splash.is-step-1 &,
//   / .splash.is-step-2 &,
//   / .splash.is-step-3 &
//     opacity 1

//   / .splash.is-step-4 &
//   / .splash.is-step-5 &
//   / .splash.is-step-6 &
//     opacity 0

&__flame
  position absolute
  bottom 35.7%
  width (205 / 1200) * 100%
  height 148px
  left (((1200 - 205) / 2) / 1200) * 100%
  background-image url('/images/CandleFlame.png')
  background-repeat no-repeat
  background-position 50%
  transform translate3d(0, -27%, 0)
  opacity 0
  transition opacity 500ms ease, transform 1000ms ease
  z-index 90

  / .splash.is-step-1 &
    opacity 1
    transform translate3d(0, -27%, 0)

  / .splash.is-step-2 &
    opacity 0
    transition-delay 500ms
    // transform translate3d(0, 25%, 0)
    // background-image url('/images/Candle_Outro.gif')

  / .splash.is-step-3 &
    opacity 1
    // transition opacity 500ms ease
    transition-property opacity, transform
    transition-delay 500ms, 500ms
    transform translate3d(0, -27%, 0)

  / .splash.is-step-4 &,
  / .splash.is-step-5 &,
  / .splash.is-step-6 &
    opacity 0
    z-index 0
    // transition-delay 500ms

  //   transform translate3d(0, -100vh, 0)

&__phone
  position absolute
  bottom 0
  width (($phone_width / 1200) * 2) * 100%
  max-width 220px
  // height ($phone_height / 700) * 100%
  height 42%
  max-height 400px
  background-image url('/images/Iphone_Screen_3.png')
  background-repeat no-repeat
  background-size contain
  margin-left 38%
  margin-right auto
  left 20%
  right 0
  z-index 510
  transform translate3d(0, 100vh, 0)
  transition transform 1500ms ease


  / .splash.is-step-2 &,
  / .splash.is-step-3 &
    transform translate3d(0, 15%, 0)

  / .splash.is-step-4 &,
  / .splash.is-step-5 &,
  / .splash.is-step-6 &
    transform translate3d(0, -100vh, 0)

&__core
  position absolute
  bottom 9.3%
  left 22%
  background-image url('/images/Core.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width 55%
  height 47%
  transition transform 1500ms ease, opacity 1500ms ease, left 550ms ease
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 80

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &,
  / .splash.is-step-4 &
    transform translate3d(0, -15%, 0)
    transition-delay 200ms

  / .splash.is-step-4 &,
  / .splash.is-step-5 &,
  / .splash.is-step-6 &
    opacity 1

  / .splash.is-step-5 &
    transform translate3d(0, -100vh, 0)
    transition transform 1500ms ease, left 550ms ease
    transition-property transform, left
    transition-delay 400ms, 0ms

  / .splash.is-step-6 &
    left -2.5%
    opacity 1
    transition-property transform, opacity, left
    transition-delay 300ms, 500ms, 3500ms

&__board
  position absolute
  bottom 10.2%
  background url("/images/Board.png")
  left 22%
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width 55%
  height 44%
  transition transform 1500ms ease, opacity 1500ms ease, left 550ms ease
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 50

  / .splash.is-step-1 &
  / .splash.is-step-2 &
  / .splash.is-step-3 &
    opacity 0
    left 36%
    transform translate3d(0, -15%, 0)

  / .splash.is-step-4 &
    opacity 1
    transform translate3d(0, -15%, 0)
    transition-delay 300ms

  / .splash.is-step-5 &
    left 36%
    opacity 1
    transform translate3d(0, -100vh, 0)
    transition transform 1500ms ease, left 550ms ease, opacity 1500ms ease
    transition-property transform, left, opacity
    transition-delay 400ms, 0ms, 0ms

  / .splash.is-step-6 &
    left 12.5%
    opacity 0
    z-index 0
    transition-property transform, opacity, left
    transition-delay 300ms, 3s, 3500ms

&__battery
  position absolute
  bottom 10.2%
  background url("/images/Battery.png")
  left 22%
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width 55%
  height 44%
  transition transform 1500ms ease, opacity 1500ms ease, left 1700ms ease
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 100

  / .splash.is-step-1 &
  / .splash.is-step-2 &
  / .splash.is-step-3 &
    opacity 1
    left 10%
    // left ((1000 - ($candle_width * 2.2)) / 1000) * 100%
    transform translate3d(0, -15%, 0)

  / .splash.is-step-4 &
    opacity 1
    transform translate3d(0, -15%, 0)
    transition-delay 300ms

  / .splash.is-step-5 &
    left 10%
    transform translate3d(0, -100vh, 0)
    transition transform 1500ms ease, left 550ms ease, opacity 1500ms ease
    transition-property transform, left, opacity
    transition-delay 400ms, 0ms, 0ms

  / .splash.is-step-6 &
    left -15%
    opacity 0
    transition-property transform, opacity, left
    transition-delay 300ms, 2000ms, 3000ms


&__wax
  position absolute
  bottom 9.7%
  right 0
  left 0
  margin auto
  background-image url('/images/Wax_Insert.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width 55%
  height 47%
  opacity 0
  transform translate3d(0, -15%, 0)
  transition transform 500ms ease, left 550ms ease, opacity 1900ms ease
  transition-property transform, left, opacity
  z-index 70

  / .splash.is-step-4 &,
  / .splash.is-step-6 &
    opacity 1

  / .splash.is-step-5 &
    transition transform 1500ms ease, left 550ms ease
    transition-property transform, left
    transition-delay 700ms, 0ms

  / .splash.is-step-6 &
    z-index -50
    left -50%
    opacity 1
    transition-property transform, left, opacity
    transition-delay 500ms, 3500ms, 0ms

&__wax-with-flame
  position absolute
  bottom 10.2%
  right 0
  left 0
  margin auto
  background-image url('/images/wick_wax_flame.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width 55%
  height 55%
  transition opacity 1500ms ease
  transition-delay 380ms
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 70

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &,
  / .splash.is-step-4 &,
  / .splash.is-step-6 &
    opacity 0

  / .splash.is-step-5 &
    opacity 1

  / .splash.is-step-6 &
    z-index 0
    opacity 0

&__wick
  position absolute
  bottom 47%
  left (((1200 - $candle_width) / 2) / 1200) * 100%
  background-image url('/images/Wick.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width (($candle_width) / 1200) * 100%
  // height ($candle_height / 720) * 100%
  height 5%
  transition opacity 500ms ease, left 550ms ease
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 70

  // / .splash.is-step-1 &,
  // / .splash.is-step-2 &,
  // / .splash.is-step-3 &,
  // / .splash.is-step-4 &,
  / .splash.is-step-5 &,
  / .splash.is-step-6 &
    opacity 1
    // transition-delay 200ms

  / .splash.is-step-5 &
    transition transform 1500ms ease, left 550ms ease
    transition-property transform, left
    transition-delay 700ms, 0ms


  / .splash.is-step-6 &
    opacity 0
    transition transform, left
    transition-delay 500ms, 3500ms

&__wax-flame
  position absolute
  bottom 49%
  left (((1200 - $candle_width) / 2) / 1200) * 100%
  background-image url('/images/flame.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width (($candle_width) / 1200) * 100%
  height 10%
  transition opacity 500ms ease, left 550ms ease
  opacity 0
  transform translate3d(0, -15%, 0)
  z-index 110

  / .splash.is-step-5 &,
  / .splash.is-step-6 &
    opacity 1

  / .splash.is-step-5 &
    transition transform 1500ms ease, left 550ms ease, opacity 1000ms ease
    transition-property transform, left, opacity
    transition-delay 700ms, 0ms, 1500ms


  / .splash.is-step-6 &
    opacity 0


&__shell
  position absolute
  bottom 7%
  left (((1200 - $candle_width) / 2.6) / 1200) * 100%
  background-image url('/images/candle_colors/ivory-shell-full.png')
  background-size contain
  background-repeat no-repeat
  background-position 50%
  width ((($candle_width) / 1200) * 2) * 100%
  height 60%
  transition transform 1500ms ease, left 550ms ease, background 1s ease
  opacity 0
  transform translate3d(0, -100vh, 0)
  z-index 110

  / .splash.is-step-5 &
    opacity 1
    transform translate3d(0, -100vh, 0)
    transition transform 1200ms ease, left 550ms ease
    transition-property transform, left
    transition-delay 100ms, 0ms

  / .splash.is-step-6 &
    left (((1200 - ($candle_width)) / 16) / 1200) * 100%
    opacity 1
    transform translate3d(0, -15%, 0)
    transition transform 1200ms ease, left 550ms ease
    transition-property transform, left
    transition-delay 1300ms, 3500ms

  &.is-green
    background-image url('/images/candle_colors/green-shell-full.png')
  &.is-blue
    background-image url('/images/candle_colors/blue-shell-full.png')
  &.is-red
    background-image url('/images/candle_colors/red-shell-full.png')
  &.is-purple
    background-image url('/images/candle_colors/purple-shell-full.png')
  &.is-orange
    background-image url('/images/candle_colors/orange-shell-full.png')

.css-arrow-left
  width 0
  height 0
  border-top 20px solid transparent
  border-bottom 20px solid transparent
  border-right 20px solid rgba(255,255,255,0.3)
  position absolute
  left -20px
  top 20px



&__variants
  position absolute
  opacity 0
  bottom 10%
  left (((1200 - ($candle_width)) / 2) / 1200) * 100%
  width 45%
  max-width 310px
  height 48%
  transition opacity 1500ms ease, left 550ms ease
  opacity 0
  transform translate3d(0, -13%, 0)
  color #211d1c

  / .splash.is-step-5 &
    transition opacity 500ms ease, left 550ms ease


  / .splash.is-step-6 &
    left 50%
    opacity 1
    transition-property opacity, left
    transition-delay 3600ms, 3500ms

  .footnote
    p
      color #211d1c
      font-size 6px
      padding-left 16px

&__info
  position relative
  padding 1px 24px
  font-size 7px
  margin-bottom 16px

  &:before
    position absolute
    pos-fill()
    content ''
    background #fff
    opacity 0.3

.swatches
  position relative
  display flex
  justify-content space-between
  align-content space-between
  flex-wrap wrap
  width 100%

.swatch
  display inline-block
  background #000
  width 30%
  margin-bottom 10px
  box-shadow 2px 2px 10px rgba(0,0,0,0.4)
  cursor pointer
  z-index 200

  img
    width 100%
    height 45px

  &__name
    padding 3px 7px
    color #000
    background #fff
    font-size 6px
    font-weight 600

@media all and (min-width 400px)
  .visuals
    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -45%, 0)

@media all and (min-width 600px) and (min-height 600px)
  .visuals
    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -25%, 0)

@media all and (min-width 800px) and (min-height 700px)
  .visuals
    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, 0%, 0)

@media all and (min-width 800px) and (min-height 850px)
  .visuals
    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, 10%, 0)


@media all and (min-width 800px)
  &__candle
    width ($candle_width / 1200) * 100%

  &__flame
    bottom 40%
    width (205 / 1200) * 100%
    height 148px

  &__phone
    left 15%
    width ($phone_width / 1200) * 100%

    / .splash.is-step-2 &,
    / .splash.is-step-3 &
      transform translate3d(0, -15%, 0)

  &__core
    left 40%
    width 20%
    bottom 10.1%

    / .splash.is-step-6 &
      left 26.6%

  &__board
    left 40%
    width 20%

    / .splash.is-step-1 &,
    / .splash.is-step-2 &,
    / .splash.is-step-3 &
      left 44%
      opacity 0
      // transition-delay 500ms

    / .splash.is-step-5 &,
    / .splash.is-step-7 &
      left 45%

    / .splash.is-step-6 &
      left 31%

  &__battery
    left 40%
    width 20%

    / .splash.is-step-1 &,
    / .splash.is-step-2 &,
    / .splash.is-step-3 &
      opacity 0
      left 36.6%

    / .splash.is-step-5 &,
    / .splash.is-step-7 &
      left 36%

    / .splash.is-step-5 &
      opacity 1

    / .splash.is-step-6 &
      left 22.5%

  &__wax
    height 48%
    left -0.2%
    width (($candle_width) / 1200) * 100%

    / .splash.is-step-6 &
      left -26.5%

  &__wax-with-flame
    left 0
    width (($candle_width) / 1200) * 100%


  &__wick
    width 2%
    height 5%
    right 0
    left 0
    margin-right auto
    margin-left auto

    / .splash.is-step-6 &
      left (((1200 - ($candle_width)) / 3) / 1200) * 100%


  &__wax-flame
    bottom 52%
    width 1%
    height 7%
    right 0
    left 0
    margin-right auto
    margin-left auto

  &__shell
    left (((1200 - ($candle_width)) / 2) / 1200) * 100%
    width 20%
    height 60%
    bottom 7%


    / .splash.is-step-6 &
      left (((1200 - ($candle_width)) / 3) / 1200) * 100%

  &__variants
    width 30%

    .footnote p
      font-size 14px

  &__info
    font-size 12px

  .swatch
    width 30%
    max-width 100px

    &__name
      font-size 12px

@media all and (min-width 1000px)
  .visuals
    &__wax
      height 48%
    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -45%, 0)

@media all and (min-width 1300px)
  .visuals
    &__wick
      bottom 50%

    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -55%, 0)

@media all and (min-width 1300px) and (max-height 800px)
  .visuals
    &__wick
      bottom 50%

    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -45%, 0)

@media all and (min-height 850px)
  .visuals
    .swatch
      img
        height 100%


@media all and (max-height 698px) and (min-width 800px)
  .visuals
    &__variants
      .footnote
        position absolute
        top 0
        left 100%

    &__flame

      / .splash.is-step-1 &
      / .splash.is-step-3 &
        transform translate3d(0, -25%, 0)
