.footer-bar
  width 100vw
  position fixed
  background-color #361f00
  color #f2be3d
  left 0
  bottom 0
  transition left 350ms ease-out
  vertical-align middle
  text-align center
  z-index 1000
  min-height: 60px

  user-email
    .error
      position: absolute

  &.fixed
    z-index 1000

  .footer-text
    color #f2be3d
    text-transform uppercase
    font-weight bolder
    font-size 12px
    vertical-align middle
    display: inline-block

  form
    display inline-block
    vertical-align middle
    padding: 16px

    input[type="text"]
      background-color rgb(241, 234, 208)
      color #000
      font-size 14px
      border none
      width 190px
      height 32px

    input[type="submit"]
      background-color rgb(237, 141, 72)
      color rgb(241, 234, 208)
      text-transform uppercase
      font-size 14px
      font-weight bold
      border none
      margin-left -4px
      width 100px
      height 32px

@media screen and (max-width 532px)
    .footer-text
      margin-bottom: -14px

@media screen and (max-width 980px)

  .footer-bar
    .footer-text
      font-size 10px
      text-align center

    form
      margin 0
      // width 100%

      input[type="text"]
        font-size 10px
        border none
        width 66%
        max-width 334px
        height 25px

      input[type="submit"]
        font-size 10px
        margin-left -4px
        width 33%
        max-width 167px
        height 25px
