.footer-bar {
  width: 100vw;
  position: fixed;
  background-color: #361f00;
  color: #f2be3d;
  left: 0;
  bottom: 0;
  transition: left 350ms ease-out;
  vertical-align: middle;
  text-align: center;
  z-index: 500;
}
.footer-bar.fixed {
  z-index: 600;
}
.footer-bar .footer-text {
  color: #f2be3d;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 12px;
  vertical-align: middle;
  margin: 20px;
}
.footer-bar form {
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}
.footer-bar input[type="text"] {
  background-color: #f1ead0;
  color: #000;
  font-size: 8px;
  font-weight: bold;
  border: none;
  width: 190px;
  height: 25px;
}
.footer-bar input[type="submit"] {
  background-color: #ed8d48;
  color: #f1ead0;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  border: none;
  margin-left: -4px;
  width: 100px;
  height: 25px;
}
@media screen and (max-width: 980px) {
  .footer-bar {
    padding: 10px 30px 20px;
  }
  .footer-bar .footer-text {
    font-size: 8px;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 5px;
    text-align: center;
    width: 100vw;
  }
  .footer-bar form {
    margin: 0;
    width: 100%;
  }
  .footer-bar input[type="text"] {
    background-color: #f1ead0;
    color: #000;
    font-size: 10px;
    font-weight: bold;
    border: none;
    width: 66%;
    max-width: 334px;
    height: 25px;
  }
  .footer-bar input[type="submit"] {
    background-color: #ed8d48;
    color: #f1ead0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border: none;
    margin-left: -4px;
    width: 33%;
    max-width: 167px;
    height: 25px;
  }
}
