header
  .logo
    position absolute
    max-height 40px

{component(header-bar)}
  position fixed
  top 0
  left 0
  text-align center
  width 100%
  padding 10px 0
  transition left 350ms ease-out
  z-index 1000

  .call-to-action.button
    line-height 21px

  .logo
    display inline-block

    a
      text-decoration none

    .icon
      font-size 40px
      color rgb(241, 234, 208)
      max-width none


  .video
    position absolute
    right 40px
    top 50%
    height 30px
    margin-top -15px
    font-family "Proxima Nova"
    text-transform uppercase
    font-size 14px
    color rgb(241, 234, 208)
    cursor pointer
    .see-ludela
      padding-right: 6px

    span
      display inline-block
      vertical-align middle
      padding-right 10px

    .icon
      display inline-block
      vertical-align middle
      font-size 30px
      color rgb(241, 234, 208)

  #hamburger, #hamburger-foot
    -webkit-transform rotate(0deg)
    -moz-transform rotate(0deg)
    -o-transform rotate(0deg)
    transform rotate(0deg)
    transition 350ms ease-in-out
    cursor pointer


    span
      display block
      position absolute
      height 4px
      width 100%
      background rgb(241, 234, 208)
      opacity 1
      left 0
      -webkit-transform rotate(0deg)
      -moz-transform rotate(0deg)
      -o-transform rotate(0deg)
      transform rotate(0deg)
      transition 150ms ease-in-out

      &:nth-child(1)
        top 0px


      &:nth-child(2), &:nth-child(3)
        top 12px


      &:nth-child(4)
        top 24px

    &.is-open span
      &:nth-child(1)
        top 18px
        width 0%
        left 50%


      &:nth-child(2)
        transform rotate(45deg)

      &:nth-child(3)
        transform rotate(-45deg)

      &:nth-child(4)
        top 18px
        width 0%
        left 50%

@media screen and (max-width: 980px)
  {component(header-bar)}
    padding 0

    #hamburger, #hamburger-foot
      width 35px
      height 30px
      margin-top -15px
      left 20px

      span
        display block
        position absolute
        height 4px
        width 100%
        background rgb(241, 234, 208)
        opacity 1
        left 0
        -webkit-transform rotate(0deg)
        -moz-transform rotate(0deg)
        -o-transform rotate(0deg)
        transform rotate(0deg)
        -webkit-transition 150ms ease-in-out
        -moz-transition 150ms ease-in-out
        -o-transition 150ms ease-in-out
        transition 150ms ease-in-out




        &:nth-child(1)
          top 0px


        &:nth-child(2), &:nth-child(3)
          top 12px


        &:nth-child(4)
          top 24px

      &.is-open span
        &:nth-child(1)
          top 18px
          width 0%
          left 50%


        &:nth-child(2)
          -webkit-transform rotate(45deg)
          -moz-transform rotate(45deg)
          -o-transform rotate(45deg)
          transform rotate(45deg)

        &:nth-child(3)
          -webkit-transform rotate(-45deg)
          -moz-transform rotate(-45deg)
          -o-transform rotate(-45deg)
          transform rotate(-45deg)

        &:nth-child(4)
          top 18px
          width 0%
          left 50%

    .logo
      .icon
        height 50px
        width auto
        font-size 50px
        color rgb(241, 234, 208)
        max-width none

    .video
      height 35px
      margin-top -18px
      right 20px
      span
        display none
      .icon
        font-size 35px

@media screen and (min-width: 980px)

  .fixed
    transition all 350ms ease-out
    &.nav-open
      left 0
      transform translate(410px, 0)
