header
  width 100vw
  text-align center
  position fixed !important
  top 0
  left 0
  z-index 1000

  header
    position relative
    width 100%
    text-align center
    box-sizing border-box

  .logo
    width 40px
    height 40px
    left 50%
    margin-left -20px
    position absolute
