{component(menu)}
  width 410px
  height 100vh
  position fixed
  top 0
  left -410px
  background #f2be3d
  z-index 1100
  text-align center
  transition left 350ms ease-out

  &.is-open
    left 0px

  {part(logo)}
    display inline-block
    margin 20px 0 75px

    a
      color rgb(241, 234, 208)
      text-decoration none

    .icon
      font-size 60px

  {part(link)}
    display block
    font-size 36px
    font-family "proxima-nova"
    color rgb(241, 234, 208)
    text-transform uppercase
    font-weight bold
    line-height 1.438
    width 100%
    text-align center
    cursor pointer
    text-decoration none


  {part(social)}
    display inline-block
    background #EE9347
    padding 8px
    width 40px
    height 40px
    margin 80px 10px
    cursor pointer
    text-decoration none
    color rgb(241, 234, 208)

    .icon
      font-size 22px

  {part(close)}
    display none

@media screen and (max-width 480px)

  {component(menu)}
    width 100vw
    height auto
    position fixed
    top -400vh
    left 0
    background #f2be3d
    z-index 1100
    text-align center
    transition top 1s ease-out

    &.is-open
      top 0
      left 0
      transition top 1s ease-out

    {part(logo)}

      img
        height 50px
        width auto
        max-width none

    {part(link)}
      display block
      font-size 30px

    {part(close)}
      display block
      width 35px
      height 30px
      position absolute
      left 20px
      top 35px

      span
        display block
        position absolute
        height 4px
        width 100%
        background rgb(241, 234, 208)
        opacity 1
        left 0

        &:nth-child(1)
          top 18px
          width 0%
          left 50%


        &:nth-child(2)
          -webkit-transform rotate(45deg)
          -moz-transform rotate(45deg)
          -o-transform rotate(45deg)
          transform rotate(45deg)

        &:nth-child(3)
          -webkit-transform rotate(-45deg)
          -moz-transform rotate(-45deg)
          -o-transform rotate(-45deg)
          transform rotate(-45deg)

        &:nth-child(4)
          top 18px
          width 0%
          left 50%


    {part(social)}
      display inline-block
      background #ee9347
      padding 12px
      width 40px
      height 40px
      margin 80px 10px
      cursor pointer

      .icon
        font-size 15px
