.splash {
  position: relative;
  z-index: 100;
  background: #221010;
  transition: background 2s ease;
}
.splash:before {
  content: '';
  position: fixed;
  background: linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3));
  transition: opacity 2s ease;
}
.splash:after {
  content: '';
  position: fixed;
  background: url("/images/BG_1.jpg") no-repeat;
  background-size: cover;
  z-index: -100;
  opacity: 0;
  transition: opacity 1s ease;
}
.splash__headline {
  position: fixed;
  opacity: 0;
  text-align: center;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate3d(0, 10vh, 0);
  transition: all 2500ms ease;
  color: #f1ead0;
  z-index: 100;
}
.splash__headline h1,
.splash__headline .h1 {
  font-family: 'Freeland';
  font-size: 30px;
  text-shadow: 3px 3px 15px #333;
}
.splash__headline .subhead {
  display: block;
  font-family: 'Proxima Nova';
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0;
}
.splash__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 3%;
  overflow-y: scroll;
}
.splash__content {
  position: relative;
  width: 100%;
  height: 100vh;
}
.mobile-padding {
  height: 100vh;
}
.mobile-overlay {
  position: relative;
  background: rgba(0,0,0,0.6);
  height: auto;
  padding: 48px 15%;
  z-index: 5000;
}
.small-text {
  display: inline-block;
  position: relative;
  width: 14em;
  height: 4em;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 1s ease, transform 900ms ease;
}
.small-text__title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f2ebd2;
  padding-left: 40px;
}
.small-text__desc {
  color: #f2be3d;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 40px;
}
.small-text__icon {
  font-size: 30px;
  position: absolute;
  top: 0;
}
ul {
  list-style: none;
  z-index: 1;
}
ul.link-list {
  padding-top: 50px;
  text-align: center;
}
ul.link-list li {
  display: inline-block;
  text-transform: uppercase;
  color: #d37c3b;
}
ul.link-list li a {
  color: inherit;
  text-decoration: none;
}
ul.link-list li + li:before {
  content: '|';
  margin: 0 15px 0 12px;
}
form {
  font-size: 0;
}
.copyright {
  padding-top: 10px;
  text-align: center;
  color: #d37c3b;
}
.copyright p {
  text-transform: uppercase;
}
@media all and (min-height: 700px) {
  .splash__container {
    margin-bottom: 0;
  }
  .splash__headline {
    font-size: 85px;
  }
  .small-text {
    bottom: 40%;
  }
}
@media all and (min-width: 667px) and (max-width: 800px) {
  .small-text.\+right {
    float: right;
  }
}
@media all and (min-width: 800px) {
  .mobile-padding {
    display: none;
  }
  .splash__headline {
    position: absolute;
  }
  .splash__headline h1,
  .splash__headline .h1 {
    font-size: 85px;
  }
  .splash__headline .subhead {
    font-size: 20px;
    margin-top: -20px;
  }
  .splash__container {
    position: fixed;
    overflow-y: hidden;
  }
  .splash .mobile-overlay {
    position: initial;
    background: none;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .splash .small-text {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 45%;
    width: 15em;
    transform: translate3d(0, 450%, 0);
  }
  .splash .small-text__title {
    padding-left: 0;
  }
  .splash .small-text__desc {
    padding-left: 0;
  }
  .splash .small-text__desc.\+dark {
    color: #3d2716;
  }
  .splash .small-text.\+left {
    text-align: right;
    margin-left: -45%;
  }
  .splash .small-text.\+right {
    margin-left: 18.333333333333332%;
  }
  .splash .small-text.\+right .small-text__icon {
    left: -40px;
  }
  .splash .small-text.\+one {
    margin-bottom: 24%;
    transition-delay: 800ms;
  }
  .splash .small-text.\+two {
    margin-bottom: 24%;
    transition-delay: 900ms;
  }
  .splash .small-text.\+three {
    margin-bottom: 17%;
    transition-delay: 1000ms;
  }
  .splash .small-text.\+four {
    margin-bottom: 17%;
    transition-delay: 1100ms;
  }
  .splash .small-text.\+five {
    margin-bottom: 9%;
    transition-delay: 1200ms;
  }
  .splash .small-text.\+six {
    margin-bottom: 9%;
    transition-delay: 1300ms;
  }
  .splash .small-text.\+seven {
    margin-bottom: 2%;
    transition-delay: 1400ms;
  }
  .splash .small-text.\+eight {
    margin-bottom: 2%;
    transition-delay: 1500ms;
  }
  .splash .small-text__icon {
    float: none;
    font-size: 30px;
    position: absolute;
    top: -12px;
    right: -40px;
  }
}
@media all and (min-width: 1000px) {
  .splash .small-text.\+left {
    margin-left: -37.916666666666664%;
  }
}
