@require 'helpful-ui/zero'
@require 'mixins'
@require 'components/**/*'

////////////////////////////////
// ANIMATION TIMING VARIABLES //
////////////////////////////////
$ease-in-quad= cubic-bezier(.550, .085, .680, .530)
$ease-in-cubic= cubic-bezier(.550, .055, .675, .190)
$ease-in-quart= cubic-bezier(.895, .030, .685, .220)
$ease-in-quint= cubic-bezier(.755, .050, .855, .060)
$ease-in-sine= cubic-bezier(.470, .000, .745, .715)
$ease-in-expo= cubic-bezier(.950, .050, .795, .035)
$ease-in-circ= cubic-bezier(.600, .040, .980, .335)
$ease-in-back= cubic-bezier(.600, -.280, .735, .045)

// EASE OUT
$ease-out-quad= cubic-bezier(.250, .460, .450, .940)
$ease-out-cubic= cubic-bezier(.215, .610, .355, 1)
$ease-out-quart= cubic-bezier(.165, .840, .440, 1)
$ease-out-quint= cubic-bezier(.230, 1, .320, 1)
$ease-out-sine= cubic-bezier(.390, .575, .565, 1)
$ease-out-expo= cubic-bezier(.190, 1, .220, 1)
$ease-out-circ= cubic-bezier(.075, .820, .165, 1)
$ease-out-back= cubic-bezier(.175, .885, .320, 1.275)

// EASE IN OUT
$ease-in-out-quad= cubic-bezier(.455, .030, .515, .955)
$ease-in-out-cubic= cubic-bezier(.645, .045, .355, 1)
$ease-in-out-quart= cubic-bezier(.770, .000, .175, 1)
$ease-in-out-quint= cubic-bezier(.860, .000, .070, 1)
$ease-in-out-sine= cubic-bezier(.445, .050, .550, .950)
$ease-in-out-expo= cubic-bezier(1, .000, .000, 1)
$ease-in-out-circ= cubic-bezier(.785, .135, .150, .860)
$ease-in-out-back= cubic-bezier(.680, -.550, .265, 1.550)

body
  color #fff
  font-family sans-serif


.small-text
  position absolute
  left 50%
  top 50%
  width 15em
  transition opacity 1s ease, transform 900ms ease
  opacity 0
  transform translate3d(0, 500%, 0)

  &__title
    font-size 12px
    font-weight 600
    text-transform uppercase
    color #f2ebd2

  &__desc
    color #f2be3d
    font-size 12px
    margin-top 5px

    &.\\+dark
      color #3d2716

  &__icon
    position absolute
    top -12px
    right -40px
    font-size 30px

  &.\\+left
    text-align right
    margin-left ((250 + 155) / 1200) * -100%

  &.\\+right
    margin-left (170 / 1200) * 100%

    .small-text__icon
      left -40px

  &.\\+one
    margin-top 0
    transition-delay 800ms

  &.\\+two
    margin-top 0
    transition-delay 900ms

  &.\\+three
    margin-top 90px
    transition-delay 1000ms

  &.\\+four
    margin-top 90px
    transition-delay 1100ms

  &.\\+five
    margin-top 180px
    transition-delay 1200ms

  &.\\+six
    margin-top 180px
    transition-delay 1300ms

  &.\\+seven
    margin-top 260px
    transition-delay 1400ms

  &.\\+eight
    margin-top 260px
    transition-delay 1500ms


@font-face {
  font-family: 'Freeland';
  src: url("fonts/Freeland.otf") format("opentype");
}

.scroll-container
  height 1500vh
  overflow-y scroll

