@require 'helpful-ui/zero'
@require 'mixins'
@require 'components/**/*'

body
  color #fff
  font-family sans-serif


.small-text
  &__title
    text-transform uppercase
    color #f2ebd2

  &__desc
    color #f2be3d
    font-size 12px
    margin-top 15px
