#step-6 {
  opacity: 0;
  transition: opacity 100ms ease;
}
#step-6 .splash__headline {
  transform: translate3d(0, -100vh, 0);
}
.is-step-6 #step-6 {
  opacity: 1;
}
.is-step-6 #step-6 .splash__headline {
  opacity: 1;
  transform: translate3d(0, -480vh, 0);
}
.is-step-6 {
  background: #f0bd3c;
}
.is-step-6:before {
  background: linear-gradient(0deg, rgba(240,189,60,0) 40%, #ed9347);
}
@media all and (min-width: 800px) {
  .is-step-6 #step-6 .splash__headline {
    transform: translate3d(0, 15vh, 0);
  }
}
