#step-7

  .splash__container
    opacity 0
    transition opacity 100ms ease, transform 1000ms ease
    transform translate3d(-50%, 100vh, 0)
    height 100%

  .img, .splash__component-left
    display inline-block

  .splash__component-container
    height 100%

  .splash__component-left
    width 100%
    height 100%
    vertical-align middle
    text-align center
    position relative

    .signin-or-up
      position absolute
      width 80%
      top 30%
      left 0
      right 0
      margin -20% auto 0
      z-index 500

    .splash__headline
      max-width: 500px

    form
      font-size 12px

    register .error
      font-size: 12px
      margin-bottom: 10px

    .error
      top: 32px
      margin-left: 0

    register
      display block
      margin 0 auto
      max-width: 500px
      width: 100%
      margin-bottom: 25px
      position: relative

      user-email
        width: 70%
        display inline-block
        & > input
          width: 100%

      & > form > input
        width: 25%
        margin-left: 0

    .login-button
      display: table
      margin: auto
      width: 100%
      max-width: 500px
      text-align: center

    input[type="text"]
      background-color rgb(241, 234, 208)
      color #000
      // font-size: 12px
      font-weight bold
      border none
      // width 352px
      height 38px

    input[type="submit"]
      background-color rgb(237, 141, 72)
      color rgb(241, 234, 208)
      text-transform uppercase
      // font-size: 12px
      font-weight bold
      border none
      margin-left -4px
      width 30%
      max-width 159px
      height 38px
      vertical-align top

    .link-list, .copyright
      position absolute
      width 100%
      bottom 12%
      font-size 8px

    .copyright
      left 0
      right 0
      bottom 9%

  .img
    display none
    position absolute
    width 100%
    height 100%
    pos-fill()
    text-align center


  .splash__headline
    transform translate3d(0, 0, 0)
    position absolute
    // top 15%

  .signup-form
    display none
    text-align center

&.is-step-7 #step-7

  .splash__container
    opacity 1
    top 20%
    transform translate3d(-50%, 0, 0)

    @media all and (max-width 800px)
      transform translate3d(0, 0, 0)

  .splash__headline
    opacity 1
    .subhead
      opacity 0


&.is-step-7
  background rgba(240,189,60,1)

  &:after
    opacity 1
  // &:before
  //   background linear-gradient(0deg, rgba(240,189,60,0) 40%, rgba(237,147,71,1))

  .visuals
    display none


@media all and (min-width 800px)
  &.is-step-7 #step-7
    // .splash__component-container
    //   transform translate(0, 10%)

    .splash__component-left
      width 55%
      height auto

      .signin-or-up
        position relative
        margin 0 auto


      .link-list, .copyright
        font-size 12px
        position relative

    .signup-form
      display block

    .img
      display inline-block
      position relative
      width 33%
      text-align left

    .splash__headline
      position relative
      top 0

      .subhead
        opacity 1


