#step-5
  opacity 0
  transition opacity 100ms ease

  // .splash__headline
  //   transform translate3d(0, 10vh, 0)



&.is-step-5
  background rgba(237,140,71,1)

  &:before
    background linear-gradient(0deg, rgba(237,140,71,0) 40%, rgba(220,79,21,0.3))

  &:after
    transition background 0s

&.is-step-5 #step-5
  opacity 1

  .splash__headline
    position fixed
    opacity 1
    top 20%
    transform translate3d(0, 0, 0)

  .small-text
    opacity 1


&.is-step-1 #step-5,
&.is-step-2 #step-5,
&.is-step-3 #step-5,
&.is-step-4 #step-5
  .splash__headline
    transform translate3d(0, 100vh, 0)

&.is-step-6 #step-4,
&.is-step-7 #step-4
  .splash__headline
    position absolute
    transform translate3d(0, -100vh, 0)

&.is-step-6 #step-5
  opacity 0
  transition-delay 300ms

  .splash__headline
    transform translate3d(0, -940vh, 0)

  .small-text
    transform translate3d(0, 0, 0)
    bottom 40%



@media all and (min-width 800px)
  #step-5
    .small-text

      &.\\+left
        margin-left ((270 + 155) / 1200) * -100%

      &.\\+right
        margin-left (120/1200) * 100%

  &.is-step-5 #step-5
    .splash__headline
      transform translate3d(0, -5vh, 0)
    .small-text
      transform translate3d(0,400%,0)
      bottom 40%

@media all and (min-width 1050px)
  #step-5
    .small-text

      &.\\+left
        margin-left ((200 + 155) / 1200) * -100%













