$candle_width = 240
$candle_height = 400
$phone_width = 200
$phone_height = 390


&__candle
  position absolute
  bottom 7%
  left (((1200 - $candle_width) / 2) / 1200) * 100%
  background-image url('/images/Candle.png')
  background-size contain
  background-repeat no-repeat
  background-position 50% 50%
  width ($candle_width / 1200) * 100%
  height ($candle_height / 850) * 100%
  transition transform 1900ms ease, background-image 100ms ease
  opacity 1
  transform translate3d(0, 0, 0)
  z-index 100

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &
    opacity 1
    transform translate3d(0,0,0)

  / .splash.is-step-4 &,
  / .splash.is-step-5 &
    // background-image url('/images/Candle.png')
    transform translate3d(0, -100vh, 0)



&__flame
  position absolute
  bottom 10%
  width 30px
  height ($candle_height / 850) * 100%
  background yellow
  margin-left auto
  margin-right auto
  left 0
  right 0
  transform translate3d(0, 0, 0)
  z-index 90
  transition transform 1950ms ease

  / .splash.is-step-2 &
    transform translate3d(0, 320%, 0)

  / .splash.is-step-4 &
    transform translate3d(0, -100vh, 0)

&__phone
  position absolute
  bottom 0
  width ($phone_width / 1200) * 100%
  height ($phone_height / 850) * 100%
  background-image url('/images/Iphone_Screen_1.png')
  background-repeat no-repeat
  background-size contain
  margin-left auto
  margin-right auto
  left 25%
  right 0
  z-index 110
  transition transform 330ms ease

  / .splash.is-step-1 &
    transform translate3d(0, 100vh, 0)

  / .splash.is-step-2 &
    transform translate3d(0, 0, 0)

  / .splash.is-step-4 &,
  / .splash.is-step-5 &
    transform translate3d(0, -100vh, 0)

&__core
  position absolute
  bottom 0
  left (((1000 - ($candle_width/2)) / 2) / 1000) * 100%
  background black
  width (($candle_width / 2) / 1000) * 100%
  height ($candle_height / 720) * 100%
  transition all 1200ms ease
  opacity 1
  transform translate3d(0, 0, 0)
  z-index 80

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &,
  / .splash.is-step-4 &
    opacity 1
    transform translate3d(0,0,0)
    transition-delay 200ms

  / .splash.is-step-5 &
    transform translate3d(0, -100vh, 0)

&__board
  position absolute
  bottom 0
  left (((1000 - ($candle_width*2)) / 2) / 1000) * 100%
  background green
  width (($candle_width / 2) / 1000) * 100%
  height ($candle_height / 1440) * 100%
  transition all 1000ms ease
  opacity 0
  transform translate3d(0, 100vh, 0)
  z-index 80

  / .splash.is-step-1 &
  / .splash.is-step-2 &
  / .splash.is-step-3 &
    opacity 1
    left (((1000 - ($candle_width)) / 2) / 1000) * 100%
    transform translate3d(0, -80%, 0)

  / .splash.is-step-4 &
    opacity 1
    transform translate3d(0, -80%, 0)
    transition-delay 300ms

  / .splash.is-step-5 &
    left (((1000 - ($candle_width)) / 2) / 1000) * 100%
    transform translate3d(0, -100vh, 0)

&__battery
  position absolute
  bottom 0
  left ((1000 - ($candle_width / .6)) / 1000) * 100%
  background black
  width (($candle_width / 2) / 1000) * 100%
  height ($candle_height / 2160) * 100%
  transition all 800ms ease
  opacity 0
  transform translate3d(0, 100vh, 0)
  z-index 80

  / .splash.is-step-1 &
  / .splash.is-step-2 &
  / .splash.is-step-3 &
    opacity 1
    left ((1000 - ($candle_width * 2.2)) / 1000) * 100%
    transform translate3d(0, -80%, 0)

  / .splash.is-step-4 &
    opacity 1
    transform translate3d(0, -80%, 0)
    transition-delay 300ms

  / .splash.is-step-5 &
    left ((1000 - ($candle_width * 2.2)) / 1000) * 100%
    transform translate3d(0, -100vh, 0)


&__wick
  position absolute
  bottom 0
  left (((1000 - ($candle_width/3)) / 2) / 1000) * 100%
  background white
  width (($candle_width / 3) / 1000) * 100%
  height ($candle_height / 720) * 100%
  transition all 500ms ease
  opacity 0
  transform translate3d(0, 100vh, 0)
  z-index 70

  / .splash.is-step-1 &,
  / .splash.is-step-2 &,
  / .splash.is-step-3 &,
  / .splash.is-step-4 &,
  / .splash.is-step-5 &
    opacity 1
    transform translate3d(0,0,0)





