&#about
  #step-3
    display: none
    background: #221010
    padding-top: 240px;
    text-align: center;
    overflow-y: scroll;

    .team-member
      text-align: left;
      display: inline-block;
      vertical-align: top;
      background-color: #f2be3d
      color: #221010
      margin: 10px 5px 0 0
      padding: 60px 40px
      width: 314px
      height: 320px

      .name
        font-size: 18px;
        display: block
        font-family: "Proxima Nova";
        color: rgb(91, 55, 50);
        font-weight: 800;
        text-transform: uppercase;

      .title
        font-size: 12px;
        display: block
        line-height: 1
        font-weight: bold;
        font-family: "Proxima Nova";
        color: rgb(91, 55, 50);
        text-transform: uppercase;

      .description
        margin-top: 14px
        font-size: 12px;
        max-width: 200px;
        font-family: "Proxima Nova";
        color: rgb(91, 55, 50);




  &.is-step-3 #step-3
    display: block
