&#about
  color: rgb(241, 234, 208);



  h1
    font-size: 21.799px;
    font-family: "Freeland";
    color: rgb(241, 234, 208);
    line-height: 0.677;
    text-align: center;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.3);
    -moz-transform: matrix( 3.93941757019425,0,0,3.93286193539246,0,0);
    -webkit-transform: matrix( 3.93941757019425,0,0,3.93286193539246,0,0);
    -ms-transform: matrix( 3.93941757019425,0,0,3.93286193539246,0,0);
    position: absolute;
    left: 506.516px;
    top: 142.52px;
    width: 187.053px;
    height: 15.875px;
    z-index: 302;

  h2
    font-size: 6.716px;
    font-family: "Proxima Nova";
    color: rgb(241, 234, 208);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.199;
    text-align: center;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.3);
    -moz-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
    -webkit-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
    -ms-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
    position: absolute;
    left: 522.26px;
    top: 200.671px;
    width: 124.229px;
    height: 5.125px;
    z-index: 301;

  #step-1
    display: none
    background: -webkit-linear-gradient(#ee9347, #f2bc3d);
    background: -o-linear-gradient(#ee9347, #f2bc3d);
    background: -moz-linear-gradient(#ee9347, #f2bc3d);
    background: linear-gradient(#ee9347, #f2bc3d);
    opacity: 1

    .date
      display: inline-block;
      width: 43%
      padding: 10%

      h2
        font-size: 5.324px;
        font-family: "ProximaNova";
        color: rgba(241, 234, 208, 0.5);
        text-transform: uppercase;
        line-height: 1.271;
        text-align: right;
        font-weight: 100;
        -moz-transform: matrix( 27.5834137483006,0,0,27.5375118392242,0,0);
        -webkit-transform: matrix( 27.5834137483006,0,0,27.5375118392242,0,0);
        -ms-transform: matrix( 27.5834137483006,0,0,27.5375118392242,0,0);
        position: absolute;
        left: 260.343px;
        top: 526.904px;
        width: 12.315px;
        height: 3.724px;
        z-index: 298;



    .copy
      display: inline-block;
      width: 45.83%;
      padding: 60px 10px;

      h2
        font-size: 5.324px;
        font-family: "Proxima Nova";
        color: rgb(241, 234, 208);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.271;
        text-align: left;
        text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.3);
        -moz-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
        -webkit-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
        -ms-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
        position: absolute;
        left: 677.799px;
        top: 367.448px;
        width: 100.276px;
        height: 10.89px;
        z-index: 296;



      p
        font-size: 6.716px;
        font-family: "Proxima Nova";
        color: rgb(255, 255, 255);
        line-height: 1.454;
        text-align: justify;
        -moz-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
        -webkit-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
        -ms-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
        position: absolute;
        left: 713.611px;
        top: 519.554px;
        width: 178.729px;
        height: 75.359px;
        z-index: 295;
        margin: 0

      .line
        background: -webkit-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0));
        background: -o-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0));
        background: -moz-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0));
        background: linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0));
        display: block
        width: 2.72px;
        margin-top: 10px;
        height: 100%;


    .africa
      position absolute
      top: 33%;
      left: -2%;
      width: 58%;
      opacity: 0.75









  &.is-step-1 #step-1
    display: block
