&#about

  #step-2
    display: none
    background-image: url(/images/better-lives.png);
    opacity: 1

    .copy
      position: absolute;
      left: 463.505px;
      top: 472.988px;
      background-color: rgba(241, 234, 208, 0.85);
      -moz-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
      -webkit-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
      -ms-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
      width: 266px;
      height: 123px;

      p
        font-size: 6.716px;
        margin: 5%;
        font-family: "Proxima Nova";
        color: rgb(54, 31, 0);
        font-weight: bold;
        line-height: 1.603;
        text-align: justify;
        width: 237.866px;
        height: 96.493px;
        z-index: 275;

        .break
          display: block;
          margin: 7px

  &.is-step-2 #step-2
    display: block
