&#about
  #step-4
    display: none
    background: -webkit-linear-gradient(#ee9347, #f2bc3d);
    background: -o-linear-gradient(#ee9347, #f2bc3d);
    background: -moz-linear-gradient(#ee9347, #f2bc3d);
    background: linear-gradient(#ee9347, #f2bc3d);
    opacity: 1
    overflow-y: scroll;

    .copy-right
      display: inline-block;
      width: 45.83%;
      padding: 60px 10px;

      .story-1, .story-2, .story-3, .story-4, .story-5, .story-6, .story-7, .story-8, .story-9
        position absolute
        width 1200px
        height 860px
        left 0

        h3
          font-size: 5.324px;
          font-family: "Proxima Nova";
          color: rgb(241, 234, 208);
          text-transform: uppercase;
          font-weight: 100;
          line-height: 1;
          text-align: center;
          -moz-transform: matrix( 10.5648824111451,0,0,10.5473012561705,0,0);
          -webkit-transform: matrix( 10.5648824111451,0,0,10.5473012561705,0,0);
          -ms-transform: matrix( 10.5648824111451,0,0,10.5473012561705,0,0);
          position: absolute;
          left: 220.309px;
          top: 375.322px;
          width: 34.21px;
          height: 16.142px;
          z-index: 187;

        img
          position absolute
          bottom 0
          left: 0
          width: 482px
          height: auto

        h2
          font-size: 5.324px;
          font-family: "Proxima Nova";
          color: rgb(241, 234, 208);
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.271;
          text-align: left;
          text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.3);
          -moz-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
          -webkit-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
          -ms-transform: matrix( 3.72489772958122,0,0,3.71869907997018,0,0);
          position: absolute;
          left: 714.799px;
          top: 367.448px;
          width: 128.276px;
          height: 10.89px;
          z-index: 296;



        p
          font-size: 6.716px;
          font-family: "Proxima Nova";
          color: rgb(255, 255, 255);
          line-height: 1.454;
          text-align: justify;
          -moz-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
          -webkit-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
          -ms-transform: matrix( 2.95380588020396,0,0,2.94889041433089,0,0);
          position: absolute;
          left: 713.611px;
          top: 519.554px;
          width: 178.729px;
          height: 75.359px;
          z-index: 295;
          margin: 0

        .line
          background: -webkit-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1));
          background: -o-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1));
          background: -moz-linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1));
          background: linear-gradient(rgba(241, 234, 208, 1), rgba(241, 234, 208, 0.1));
          display: block
          width: 2.72px;
          margin-top: 10px;

      .story-1
        top 0

        .line
          height: 175px

      .story-2
        top 860px

        .line
          height: 150px

      .story-3
        top 1720px

        .line
          height: 150px

      .story-4
        top 2580px

        .line
          height: 100px

      .story-5
        top 3440px

        .line
          height: 150px

      .story-6
        top 4300px

        .line
          height: 200px

      .story-7
        top 5160px

        .line
          height: 200px

      .story-8
        top 6020px

        .line
          height: 200px

      .story-9
        top 6880px
        margin-bottom: 200px;

        .line
          height: 200px

  &.is-step-4 #step-4
    display: block
