{component(header-bar)}
  position fixed
  text-align: center
  z-index: 9
  width: 100%
  padding: 24px 40px

  .hamburger
    position absolute
    left: 40px
    font-size: 40px
    line-height: 1;
    color: rgb(241, 234, 208)
    cursor: pointer

  .logo
    display: inline-block;

  .video
    position absolute
    right: 40px
    line-height: 3
    font-family: "Proxima Nova";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.199;
    text-shadow: 0px 2px 13px rgba(0, 0, 0, 0.3);
    font-size: 14px
    color: rgb(241, 234, 208);

    img
      margin-left 15px
