#step-5
  opacity 0
  transition opacity 100ms ease

  .splash__headline
    position absolute
    text-align center
    left (((1000 - $width) / 2) / 1000) * 100%
    width ($width / 1000) * 100%
    height 150px
    transform translate3d(0, 80%, 0)

  .small-text

    &.\\+left
      margin-left ((200 + 155) / 1200) * -100%

    &.\\+right
      margin-left (120/1200) * 100%

&.is-step-5
  background rgba(237,140,71,1)

  &:before
    background linear-gradient(0deg, rgba(237,140,71,0) 40%, rgba(220,79,21,0.3))

  &:after
    transition background 0s

&.is-step-5 #step-5
  opacity 1

  .splash__headline
    opacity 1
    transform translate3d(0, 80%, 0)

  .small-text
    opacity 1

&.is-step-5 #step-5
  .small-text
    transform translate3d(0,0,0)

&.is-step-6 #step-5
  opacity 0
  transition-delay 300ms

  .small-text
    transform translate3d(0, 0, 0)






















