#step-3
  opacity 0
  transition opacity 100ms ease

  .splash__headline
    position absolute
    color #fff
    text-align center
    left (((1000 - $width) / 2) / 1000) * 100%
    width ($width / 1000) * 100%
    height 150px
    transform translate3d(0, 80%, 0)

  .small-text
    top 32%

    &.\\+left
      text-align right
      margin-left ((330 + 125) / 1200) * -100%

    &.\\+right
      margin-left (390 / 1200) * 100%

&.is-step-3
  background rgba(240,189,60,1)
  // transition background 50ms ease

  &:before
    opacity 0

  &:after
    opacity 1
    background linear-gradient(0deg, rgba(34,16,16,1) 40%, rgba(240,189,60,0))
    transition opacity 0ms ease

&.is-step-3 #step-3
  opacity 1

  .splash__headline
    opacity 1
    transform translate3d(0, 80%, 0)

  .small-text
    opacity 1

    &.\\+one
      margin-top 0

    &.\\+two
      margin-top 65px

    &.\\+three
      margin-top 85px

    &.\\+four
      margin-top 145px

    &.\\+five
      margin-top 175px

    &.\\+six
      margin-top 265px

    &.\\+seven
      margin-top 265px

    &.\\+eight
      margin-top 315px


&.is-step-3 #step-3
  .small-text
    transform translate3d(0,150%,0)

&.is-step-4 #step-3
  opacity 0
  transition-delay 300ms

  .small-text
    transform translate3d(0, 0, 0)






















