#step-4
  opacity 0
  transition opacity 100ms ease

  // .small-text
    // left 50%
    // top @left

    // &.\\+left
    //   margin-left ((200 + 155) / 1000) * -100%

    // &.\\+right
    //   margin-left (175/1000) * 100%

&.is-step-4
  background #221010

  &:before
    background linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3))
    opacity 1

  &:after
    opacity 0
    background linear-gradient(0deg, rgba(34,16,16,1) 40%, rgba(240,189,60,0))
    transition opacity 10s ease


&.is-step-4 #step-4
  opacity 1

  .splash__headline
    opacity 1
    transform translate3d(0, 20vh, 0)

  .small-text
    // transform translate3d(0,450%,0)
    opacity 1


&.is-step-1 #step-4,
&.is-step-2 #step-4,
&.is-step-3 #step-4
  .splash__headline
    transform translate3d(0, 100vh, 0)

// &.is-step-4 #step-4
//   .small-text
//     transform translate3d(0,0,0)

&.is-step-3 #step-4
  .small-text
    opacity 0

&.is-step-5 #step-4
  transition opacity 750ms ease

  .small-text
    transform translate3d(0, 0, 0)






















