#step-4
  opacity 0
  transition opacity 100ms ease

  .splash__headline
    position absolute
    text-align center
    left (((1000 - $width) / 2) / 1000) * 100%
    width ($width / 1000) * 100%
    height 150px
    transform translate3d(0, 80%, 0)

  .small-text
    left 50%
    top @left

    // &.\\+left
    //   margin-left ((200 + 155) / 1000) * -100%

    // &.\\+right
    //   margin-left (175/1000) * 100%

&.is-step-4
  background #221010

  &:before
    background linear-gradient(0deg, rgba(255,255,255,0) 40%, rgba(255,255,255,0.3))
    opacity 1

  &:after
    opacity 0
    background linear-gradient(0deg, rgba(34,16,16,1) 40%, rgba(240,189,60,0))
    transition opacity 10s ease


&.is-step-4 #step-4
  opacity 1

  .splash__headline
    opacity 1
    transform translate3d(0, 80%, 0)

  .small-text
    opacity 1

    // &.\\+one
    //   transition-delay 800ms

    // &.\\+two
    //   transition-delay 900ms

    // &.\\+three
    //   transition-delay 1000ms

    // &.\\+four
    //   transition-delay 1100ms

    // &.\\+five
    //   transition-delay 1200ms

    // &.\\+six
    //   transition-delay 1300ms

    // &.\\+seven
    //   transition-delay 1400ms

    // &.\\+eight
    //   transition-delay 1500ms

&.is-step-4 #step-4
  .small-text
    transform translate3d(0,0,0)

&.is-step-5 #step-4
  opacity 0
  transition-delay 300ms

  .small-text
    transform translate3d(0, 0, 0)






















