
&.is-step-1
  &:before
    opacity 0


  &:after
    opacity 1


&.is-step-1 #step-1
  // opacity 1

  .splash__headline
    opacity 1
    transform translate3d(0, 20vh, 0)

&.is-step-2 #step-1,
&.is-step-3 #step-1,
&.is-step-4 #step-1,
&.is-step-5 #step-1,
&.is-step-6 #step-1,
&.is-step-7 #step-1
  // opacity 0
  transition-delay 167ms

  .splash__headline
    transform translate3d(0, -100vh, 0)
