/*==================
Hero
===================*/
.hero {
  padding: 0 26px;

  .title {
    color: #f2ebd3;
    font-size: 22px;
    line-height: 26px;
  }

  .subtitle {
    color: white;
    font-size: 15px;
    letter-spacing: 0.44px;
    line-height: 17px;
    text-align: center;
  }

  input {
    padding: 0 20px;
    height: 38px;
    border-radius: 0;
    border: none;
    color: #555;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f1ead0;

    &:focus {
      background-color: #fff;
    }

    &::-webkit-input-placeholder {
      color: #000;
    }

    &::-moz-placeholder {
      color: #000;
    }

    &:-moz-placeholder {
      color: #000;
    }

    &:-ms-input-placeholder {
      color: #000;
    }

    &[type="submit"] {
      cursor: pointer;
      color: #f1ead0;
      background-color: #ed8d48;
    }
  }

  .hero-image.candle {
    text-indent: 20px;
    text-align: center;
    pointer-events: none;
    margin-top: -80px;
  }

  .hero-inner {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-social {
    list-style: none;
    padding: 0;
    margin: 57px 0 62px;
    display: flex;
    justify-content: center;

    li {
      padding: 0 20px;
    }

    img {
      max-width: 60px;
    }
  }
}

@media (min-width: 768px) {
  .hero {

    .referal-code-wrap {
      margin-bottom: 20px;
    }

    .title {
      font-size: 20px;
    }
    .subtitle {
      margin: 10px 0 0;
    }

    .hero-inner {
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    .hero-content {
      max-width: 400px;
    }

    .hero-image.candle {
      margin-top: -150px;
      text-indent: -135px;
      margin-right: -110px;
      img {
        max-width: none;
      }
    }

    .hero-social {
      max-width: 240px;
      margin: 30px auto;
    }
  }
}
