&#about

  #step-2
    display: block
    background-image: url(/images/better-lives.png);
    background-position-x: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    opacity: 1
    position: absolute;
    height: 100vh
    top: 100vh
    transform translate3d(0, 0, 0)
    transition: all 1s ease;

    .header, .sub-header
      transform translate3d(0, 20vh, 0)
      transition: all 700ms ease;
      transition-delay: 150ms;

    .copy
      background-color: rgba(241, 234, 208, 0.85);
      width: 785px;
      height: 360px;
      padding: 30px 40px;
      margin 0 auto
      transform translate3d(0, 30vh, 0)
      transition: all 1s ease;
      transition-delay: 350ms;

      p
        font-size: 20px;
        font-family: "Proxima Nova";
        color: rgb(54, 31, 0);
        font-weight: bold;
        line-height: 1.603;
        text-align: justify;
        z-index: 275;
        margin 0

        .break
          display: block;
          margin: 7px

  &.is-step-2 #step-2
    transform translate3d(0, -100vh, 0)
    transition: all 1s ease;
    transition-delay: 500ms;

    .header, .sub-header
      transform translate3d(0, 0, 0)
      transition: all 1s ease;
      transition-delay: 500ms;

    .copy
      transform translate3d(0, 0, 0)
      transition: all 750ms ease;
      transition-delay: 700ms;

  &.is-step-3, &.is-step-4, &.is-step-5
    #step-2
      transform translate3d(0, -200vh, 0)
      transition: all 1350ms ease;
      transition-delay: 500ms;

      .header, .sub-header
        transform translate3d(0, -30vh, 0)
        transition: all 1500ms ease;

      .copy
        transform translate3d(0, -10vh, 0)
        transition: all 500ms ease;
        transition-delay: 350ms;

@media screen and (max-width: 980px)
  &#about

    #step-2
      background-size: auto 100%;

      .copy
        
        height: 760px;

        p
          font-size: 30px;
