.hero.video .content {
  text-align: center;
  margin-top: 60vh;
}

.hero.video .play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 1px solid #FFF;
  padding: 0;
}

.hero.video .play:before {
  content: '';
  display: block;
  position: absolute;
  top: 22px;
  left: 25px;
  width: 0;
  height: 36px;
  border-left: 1px solid #FFF;
}

.hero.video .play:after {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg) skew(-20deg, -20deg);
  -webkit-transform: rotate(45deg) skew(-20deg, -20deg);
  top: 20px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

