.logo {
  transform: translateX(-50%);
  margin-left: 0 !important;
  width: auto !important;
  font-size: 2.3em;
}

header {
  background-color: rgba(0,0,0, 0.6);
  z-index: 1000
}

header li {
  padding: 30px 0 30px 35px;
}

header, header * {
  color: rgb(241, 234, 208);
  font-size: 1.5rem;
  transition: left 350ms ease-out;
}

@media all and (min-width: 601px) {
  .nav-open header {
    left: 410px;
  }

  .nav-open .fixed-visuals {
    left: 410px;
  }
}

.content p {
  line-height: 2rem;
}

body,
body * {
  box-sizing: border-box
}

body {
  color: rgb(88,88,88);
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-size: 22px;
}

.emphasis {
  color: rgb(240, 169, 0);
}

#general {
  transition: left 350ms ease-out;
  position: absolute;
  left: 0;
  top: 0;
}

#general.nav-open {
  left: 410px;
}

h1 {
  font-size: 120px;
  font-family: "Freeland";
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 302;
}

h2 {
  font-size: 50px;
  font-family: "proxima-nova";
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
  z-index: 302;
}

h3 {
  font-size: 40px;
  font-family: "proxima-nova";
  font-weight: bold;
  margin-bottom 10px;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.hero:not(.mission) {
  color: #FFF;
  min-height: 400px;
  z-index: 51;
  padding-bottom: 0;
}

.hero .content {
  margin-top: 50vh !important;
  transform: translateY(-50%);
}

.hero h1 {
  margin-bottom: 0;
  line-height: .6em;
}

.hero h2 {
  margin-top: 0;
}

.hero.video.video .play {
  display: table-cell !important;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.hero.video.video .play:before {
  top: 10px;
  left: 10px;
  width: 0;
  height: 20px;
}

.hero.video.video .play:after {
  top: 9px;
  left: 0px;
  width: 20px;
  height: 20px;
}

.hero .play-message {
  font-size: 25px;
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.hero .play-wrapper {
  margin-top: 5vh;
  display: table;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 102;
}

.hero .cta-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0,0,0, 0.6);
}

.hero .cta-overlay .call-to-action {
  margin-top: 0;
  margin-right: 20px;
}

.hero .gallery-controls .button {
  display: none;
}

.hero .hero1 {
  background-image: url('/images/gallery1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%, 50%;
}

.hero .hero2 {
  background-image: url('/images/gallery2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%, 50%;
}

.hero .hero3 {
  background-image: url('/images/gallery3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%, 50%;
}

.hero .summary-down:after {
  border-color: rgb(241, 234, 208) !important;
}

.gallery-item {
  border: 1px solid rgb(241, 234, 208);
}

.gallery-controls .gallery-item.active {
  background: rgba(241, 234, 208, 0.3);
}

.gallery-counter {
  margin-top: 85vh !important;
}

.list.full {
  display: block !important;
  overflow: hidden;
}

.list .info li h4,
.list .info li p {
  margin: 4px;
}

.list .info li {
  margin-bottom: 10px;
  width: 33%;
  color: rgb(240, 169, 0);
}

.list li .icon {
  font-size: 3em;
  padding: 10px;
}

.list.list:not(.cta-all) .info {
  width: 66%;
  max-width: 900px !important;
  height: auto !important;
  margin-top: 50vh !important;
  transform: translateY(-50%) !important;
  min-height: 400px;
}

.list.list:not(.cta-all) .image {
  position: relative;
  z-index: -1;
  width: 34%;
}

.safe,
.smart,
.sustainable {
  height: auto;
}

.list * {
  text-align: left;
}

.safe .image:before {
  background-image: url(/images/safety1.png);
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  bottom: 10vh;
  left:-70vh;
  height: 80vh;
  width: 200vh;
}

.signup {
  background-color: black;
  color: #FFF
}

.signup .content {
  max-width: 400px;
}

.signup p {
  text-align: center;
}

.signup register > * {
  float: left;
  font-size: 12px;
  margin-bottom:20px;
}

.signup form {
  width: 100%;
}

.life2 {
  background-image: url(/images/life2.jpg);
  background-size: contain;
  background-position: 0% 50% !important;
}

.smart .image {
  background-image: url(/images/ambiance1.png);
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.life3 {
  background-image: url(/images/life3.jpg);
  background-size: cover;
  background-position: 50% 50% !important;
}

.sustainable .image {
  padding:40px 0px 40px 40px;
}

.sustainable .padded-image {
  background-image: url(/images/sustainable1.png);
  background-size: contain;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.life4 {
  background-image: url(/images/life4.jpg);
  background-size: cover;
  background-position: 10% 0% !important;
}

.customize {
  background-image: url(/images/customize1.png);
  background-size: contain !important;
  background-position: 50% 110% !important;
  background-repeat: no-repeat;
  height:120vh !important;
}

.customize.customize.customize .info {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  margin-top:30vh !important;
}

.customize .info > * {
  text-align: center;
}

.life5 {
  background-image: url(/images/life5.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.scent * {
  text-align: center;
}

.life6 {
  background-image: url(/images/life6.jpg);
  background-size: cover;
  background-position: 50% 50% !important;
}

.mission {
  background-image: url(/images/mission1.png);
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}

.mission .content {
  margin-top: 50vh;
  transform: translateY(-50%);
}

.mission .modal a {
  color: #fff;
}

.cta-all {
  overflow: hidden;
  background-image: url(/images/BG_1.jpg);
  background-size: cover;
  background-position: center;
  color: #FFF;
}

.cta-all p {
  text-align: center;
}

.cta-all .content {
  margin-top:15vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.cta-all .info {
  margin-top: 500px;
  min-height: 400px !important;
}

.cta-all .info p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  line-height: 1.5em;
}

.cta-all .image {
  margin-top: 150px;
}

.cta-all .content,
.cta-all .content h1 {
  text-align: center;
}

.call-to-action.button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  color: #f1ead0;
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 16px;
  background-color: #E4AA47;
  text-transform: uppercase;
  font-size: 18px
}

.cta-all .info form {
  font-size: 12px;
}

register .error {
  font-size: 12px;
  margin-bottom: 10px;
}
.cta-all .info .error {
  top: 32px;
  margin-left: 0;
}

register {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
  position: relative;
}
register user-email {
  width: 70%;
  display: inline-block;
}
register user-email > input {
  width: 100%;
}
register > form > input {
  width: 25%;
  margin-left: 0;
}
.login-button {
  display: table;
  margin: auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
}
register input[type="text"] {
  background-color: #f1ead0;
  color: #000;
  font-weight: bold;
  border: none;
  height: 38px;
  border-radius: 0 !important;
  text-align: left;
}

register .error {
  text-align: left;
}

register input[type="submit"] {
  background-color: #ed8d48;
  color: #f1ead0;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  margin-left: -4px;
  width: 30%;
  max-width: 159px;
  height: 38px;
  vertical-align: top;
  text-align: center;
  padding: 12px 0;
  border-radius: 0 !important;
  line-height: 0;
}

.thankyou {
  color: #FFF;
}

register {
  max-width: 400px;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.login-button {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  top: 15px;
  color: #f1ead0;
  font-family: 'proxima-nova', 'Helvetica', sans-serif;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #f1ead0;
  text-transform: uppercase;
  max-width: 400px;
}

user-email input {
  width: 100%;
}

footer {
  background-color: #000;
}

footer .menu__link {
  font-size: 24px !important;
}

footer .menu__social {
  margin: 0 10px 80px 10px !important;
}

.selectize-dropdown, .selectize-dropdown.form-control {
  z-index: 10000;
  font-size: 16px;
}


@media all and (max-width: 800px) {
  .list.full {
    display: table !important;
  }

  .list.list.list .info,
  .list.list.list .image {
    width: 100%;
  }

  .list.list.list .info {
    margin-bottom: 10vh;
    margin-top: 0 !important;
    transform: none !important;
    text-align: center;
  }

  .list.list.list .image {
    height: 100vh;
  }

  .list .info ul li > * {
    display: block;
  }

  .list * {
    text-align: center;
  }

  .safe .image:before {
    background-size: cover;
    background-position: 50% 100%;
    top: 20vh;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 100vw;
  }

  .hero .content{
    background-color: transparent !important;
  }

  .sustainable {
    min-height: 700px;
  }

  .sustainable li {
    width: 100%;
  }

  .mission p {
    text-align: center;
  }

  .cta-all .image {
    margin-top: 600px;
    text-align: center;
  }

  .cta-all .info {
    max-width: 100% !important;
    margin-top: 0;
    margin-bottom: 0 !important;
    background-color: transparent !important;
  }
}

@media all and (max-width: 600px) {
  header .logo {
    left: 50% !important;
  }

  header .call-to-action.button {
    font-size: 12px;
  }

  .hero .content {
    margin-top: 70vh !important;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .list .info ul li h4 {
    font-size: 14px;
  }

  .customize {
    background-image: url(/images/customize2.png);
    background-size: contain !important;
    background-position: 50% 100% !important;
    background-repeat: no-repeat;
    height:190vh !important;
  }

  .hero:not(.mission) .cta-overlay .call-to-action {
    width: 100%;
    font-size: 12px;
  }

  .hero:not(.mission) .cta-overlay span {
    font-size: 16px;
  }

  .hero:not(.mission) .play-wrapper {
    position: absolute;
    margin-top: -40vh !important;
    left: 50% !important;
    transform: translateX(-50%);
  }

  .hero .play-message {
    display: none !important;
  }
}

@media all and (max-width: 400px) {
  .hero .cta-overlay {
    display: none;
  }
}

.loader .spinner {
  font-size: 10px;
  top: 50%;
  margin: -50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f1ead0;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(95, 92, 82, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader .spinner:before {
  width: 50%;
  height: 50%;
  background: #f1ead0;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader .spinner:after {
  background: #000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

