.checkout-container {
  position: absolute;
  width: 100vw;
  display: table;
  top: -500vh;
  left: 0;
  -webkit-transition: top 500ms ease;
  transition: top 500ms ease;
  overflow-y: scroll;
  font-size: 1rem;
  z-index: 100000;
}
.checkout-container .parts {
  display: table;
  width: 220%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: height 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: height 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in, height 200ms ease-in;
  transition: transform 200ms ease-in, height 200ms ease-in, -webkit-transform 200ms ease-in;
}
.checkout-container .parts .part {
  width: 45.45%;
  margin-right: 4.55%;
  float: left;
  overflow: hidden;
}
.checkout-container .parts .part:last-child {
  height: 1px;
}
.checkout-container .parts .part:last-child > * {
  display: none;
}
.checkout-container h1 .modal-open {
  margin-top: 10px;
}
.checkout-container input,
.checkout-container select,
.checkout-container button,
.checkout-container select > input[type="button"],
.checkout-container textarea {
  -moz-appearance: none !important;
  line-height: 1em !important;
  vertical-align: middle;
  color: #525252 !important;
}
.checkout-container .selectize-input.focus,
.checkout-container input:focus {
  border-color: #ed8d48;
}
.checkout-container input,
.checkout-container select,
.checkout-container button,
.checkout-container select > input[type="button"],
.checkout-container textarea,
.checkout-container .selectize-input {
  border: 2px solid #c9c9c9;
}
.checkout-container input:focus,
.checkout-container select:focus,
.checkout-container button:focus,
.checkout-container select > input[type="button"]:focus,
.checkout-container textarea:focus,
.checkout-container .selectize-input:focus {
  outline-width: 0;
}
.checkout-container a {
  color: #ed8d48;
  text-decoration: underline;
}
.checkout-container h1 {
  font-size: 20px;
  text-align: left;
  font-family: proxima-nova;
  text-shadow: none;
}
.checkout-container h1 .invoice-amount {
  display: none;
}
.checkout-container .checkout {
  border-radius: 3px;
  position: absolute;
  padding: 30px;
  margin: 10vh 0 30vh 0;
  width: 90%;
  display: table;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  color: #525252;
}
.checkout-container .checkout > *:not(.continue-shopping) h1:first-child {
  width: 100%;
  margin-top: -0.5em;
  line-height: 2em;
  color: #9ba0a4;
}
.checkout-container .checkout input[type=text],
.checkout-container .checkout textarea {
  width: 100%;
}
.checkout-container .checkout input[type=text],
.checkout-container .checkout button,
.checkout-container .checkout textarea {
  color: #525252;
  height: 32px;
  line-height: 1em;
  font-size: 16px;
}
.checkout-container .checkout textarea {
  height: 96px;
}
.checkout-container .checkout button {
  background-color: #ed8d48;
  border: 2px solid #ed8d48;
  font-size: 1em;
  color: #fff !important;
}
.checkout-container .checkout .error,
.checkout-container .checkout .promo-message {
  color: #ed8d48;
  font-size: 14px;
  padding: 8px 0;
  line-height: 1em;
  text-align: left;
}
#cart-collapsed {
  display: none;
}
checkout {
  overflow: hidden;
}
checkout button[type=submit] span:first-child {
  display: block;
}
checkout button[type=submit] span:last-child {
  display: none;
}
checkout.step-2 .parts {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
checkout.step-2 .parts .part:first-child {
  height: 1px;
}
checkout.step-2 .parts .part:first-child > * {
  display: none;
}
checkout.step-2 .parts .part:last-child {
  height: initial;
}
checkout.step-2 .parts .part:last-child > * {
  display: block;
}
checkout.step-2 button[type=submit] span:first-child {
  display: none;
}
checkout.step-2 button[type=submit] span:last-child {
  display: block;
}
cart {
  padding-bottom: 40px;
}
cart,
checkout,
lineitems,
lineitem {
  width: 100%;
  position: relative;
  display: block;
}
lineitem {
  display: table;
}
quantity-select-control,
.promo,
.promo-row,
.invoice-line,
.input {
  width: 100%;
  display: table;
  position: relative;
}
.promo-row button {
  padding: 0;
}
.selectize-control.single .selectize-input::after {
  top: 12px;
  right: 8px;
  margin-top: 0px;
}
.selectize-input {
  border-radius: 0 !important;
  height: 32px !important;
  max-width: 60px;
}
.selectize-input input {
  position: absolute !important;
}
.selectize-dropdown.single {
  border-radius: 0 !important;
}
lineitem > * > * {
  float: left;
}
.product-quantity-container {
  width: 45px !important;
  display: inline-block;
  margin-top: 5px;
  float: right !important;
}
.product-description {
  line-height: 1.25em;
  padding-top: 3px;
  padding-left: 6px;
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
.product-description .product-name {
  color: #525252;
  font-weight: bold;
  display: block;
}
.product-description > *:last-child {
  font-size: 10px;
  line-height: 1rem;
  margin-top: 0;
}
.product-image-container {
  width: 30%;
  position: relative;
}
.product-image-container img:nth-child(n+2) {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.product-text-container {
  width: 45%;
}
.product-price-container {
  line-height: 1.25em;
  width: 25%;
  text-align: right;
  float: right !important;
  margin-top: 3px;
}
.product-list-price {
  color: #aaa;
  font-size: 0.9em;
}
.product-slug {
  display: none;
}
.product-delete {
  cursor: pointer;
  width: 25%;
  float: right !important;
  text-align: right;
  color: #e4aa47;
}
.product-currency {
  display: inline;
}
.product-list-price {
  text-decoration: line-through;
}
lineitems {
  padding-bottom: 20px;
}
lineitem > * {
  float: left;
}
.promo-row {
  padding-bottom: 20px;
}
.promo-row > * {
  float: left;
}
.promo-row promocode {
  width: 75%;
}
.promo-row promocode input {
  border-right: 0;
}
.promo-row button {
  width: 25%;
}
.promo-row .promo-message {
  width: 40%;
  padding: 5px 0 5px 16px;
  text-align: right;
}
.invoice-line > * {
  float: left;
}
.invoice-line div:first-child {
  width: 70%;
  padding-right: 5%;
}
.invoice-line div:last-child {
  width: 30%;
}
.invoice-label {
  color: #999;
}
.invoice-total {
  font-weight: bold;
  font-size: 1.1em;
  border-top: 2px solid #c9c9c9;
  margin-top: 4px;
  padding-top: 4px;
}
.invoice-total .invoice-label {
  color: #525252;
}
.invoice-discount .invoice-amount {
  color: #ed8d48;
}
.invoice-amount {
  text-align: right;
  font-weight: bold;
}
checkout .input {
  padding-bottom: 16px;
  line-height: 2em;
}
checkout .selectize-input {
  max-width: 100%;
}
checkout .selectize-input .item {
  font-size: 16px;
}
checkout .selectize-input input {
  width: 100% !important;
  margin-top: -6px !important;
  margin-left: 16px !important;
  left: 0;
}
checkout .fields {
  width: 100%;
  display: table;
}
checkout .fields > * {
  float: left;
}
.contact-information,
.shipping-information,
.payment-information,
.confirmation,
.gift-options,
cart {
  margin-bottom: 30px;
  position: relative;
  padding: 16px;
  border: 2px solid #c9c9c9;
}
cart {
  line-height: 1.8em;
}
shippingaddress-line1 {
  width: 55% !important;
  margin-right: 5%;
}
shippingaddress-line2 {
  width: 40% !important;
}
shippingaddress-city {
  width: 65% !important;
  margin-right: 5%;
}
shippingaddress-postalcode {
  width: 30% !important;
}
shippingaddress-state {
  width: 40% !important;
  margin-right: 5%;
}
shippingaddress-country {
  width: 55% !important;
}
card-number {
  width: 52% !important;
  margin-right: 4%;
}
card-expiry {
  width: 23% !important;
  margin-right: 4%;
}
card-cvc {
  width: 17% !important;
}
gift-message {
  width: 100%;
}
cart,
checkout {
  float: right;
  width: 48%;
}
checkout {
  margin-right: 4%;
}
.stripe-logo {
  width: 100px;
}
.continue-shopping {
  cursor: pointer;
  margin-top: -10px;
  text-align: right;
}
.continue-shopping h1 {
  font-size: 1em !important;
}
.continue-shopping i {
  margin-bottom: -8px;
}
.lock,
.arrow-left,
.shopping-bag {
  height: 26px !important;
  width: 26px !important;
  background-size: cover !important;
  display: inline-block;
}
.lock {
  background: url("/images/icons/lock.svg");
  position: absolute;
  top: 9px;
  right: 12px;
}
.arrow-left {
  margin-right: 8px;
  background: url("/images/icons/arrow-left.svg");
  color: #000;
}
.shopping-bag {
  margin-left: 8px;
  background: url("/images/icons/shopping-bag.svg");
}
.special-offer {
  margin-top: 4px;
  padding-top: 10px;
  border-top: 2px solid #c9c9c9;
}
.special-offer h1 {
  margin-bottom: 4px;
  border-bottom: 0 !important;
}
.checkbox,
terms,
gift-toggle {
  font-family: helvetica;
  margin-bottom: 20px;
  display: block;
/* Base for label styling */
/* checkbox aspect */
/* checked mark aspect */
/* checked mark aspect changes */
/* disabled checkbox */
/* accessibility */
/* hover style just for information */
}
.checkbox label,
terms label,
gift-toggle label {
  padding-top: 2px;
  font-size: 16px !important;
  line-height: 1.2rem;
  display: inline-block;
  color: #9ba0a4;
}
.checkbox [type="checkbox"]:not(:checked),
terms [type="checkbox"]:not(:checked),
gift-toggle [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked,
terms [type="checkbox"]:checked,
gift-toggle [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.checkbox [type="checkbox"]:not(:checked) + label,
terms [type="checkbox"]:not(:checked) + label,
gift-toggle [type="checkbox"]:not(:checked) + label,
.checkbox [type="checkbox"]:checked + label,
terms [type="checkbox"]:checked + label,
gift-toggle [type="checkbox"]:checked + label {
  position: relative;
  text-indent: 25px;
  cursor: pointer;
}
.checkbox [type="checkbox"]:not(:checked) + label:before,
terms [type="checkbox"]:not(:checked) + label:before,
gift-toggle [type="checkbox"]:not(:checked) + label:before,
.checkbox [type="checkbox"]:checked + label:before,
terms [type="checkbox"]:checked + label:before,
gift-toggle [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 2px solid #aaa;
  background: #f8f8f8;
}
.checkbox [type="checkbox"]:not(:checked) + label:after,
terms [type="checkbox"]:not(:checked) + label:after,
gift-toggle [type="checkbox"]:not(:checked) + label:after,
.checkbox [type="checkbox"]:checked + label:after,
terms [type="checkbox"]:checked + label:after,
gift-toggle [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-indent: 0;
}
.checkbox [type="checkbox"]:not(:checked) + label:after,
terms [type="checkbox"]:not(:checked) + label:after,
gift-toggle [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.checkbox [type="checkbox"]:checked + label:after,
terms [type="checkbox"]:checked + label:after,
gift-toggle [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
terms [type="checkbox"]:disabled:not(:checked) + label:before,
gift-toggle [type="checkbox"]:disabled:not(:checked) + label:before,
.checkbox [type="checkbox"]:disabled:checked + label:before,
terms [type="checkbox"]:disabled:checked + label:before,
gift-toggle [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.checkbox [type="checkbox"]:disabled:checked + label:after,
terms [type="checkbox"]:disabled:checked + label:after,
gift-toggle [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.checkbox [type="checkbox"]:disabled + label,
terms [type="checkbox"]:disabled + label,
gift-toggle [type="checkbox"]:disabled + label {
  color: #aaa;
}
.checkbox [type="checkbox"]:checked:focus + label:before,
terms [type="checkbox"]:checked:focus + label:before,
gift-toggle [type="checkbox"]:checked:focus + label:before,
.checkbox [type="checkbox"]:not(:checked):focus + label:before,
terms [type="checkbox"]:not(:checked):focus + label:before,
gift-toggle [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #00f;
}
.checkbox label:hover:before,
terms label:hover:before,
gift-toggle label:hover:before {
  border: 2px solid #ed8d48 !important;
}
button[type=submit] {
  width: 100%;
  font-size: 20px !important;
  padding: 20px;
  line-height: 2px !important;
}
.thankyou {
  position: absolute;
  top: 35vh;
  max-width: 600px;
  width: 80vw;
  padding: 40px;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  text-align: center;
}
.thankyou .social {
  text-align: center;
}
.thankyou .social > * {
  margin-top: 0;
}
@media screen and (max-width: 980px) {
  cart,
  checkout {
    width: 100%;
    margin-right: 0;
  }
  cart h1 {
    display: inline-block;
  }
  cart h1 label {
    float: left;
    cursor: pointer;
  }
  cart h1 .invoice-amount {
    float: right;
    font-size: 16px;
    color: #525252;
    margin-top: -12px;
  }
  cart .expand-summary {
    margin-right: 20px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    display: block;
    position: relative;
    top: 15px;
    left: 8px;
    z-index: 2;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #9ba0a4;
    border-right: 2px solid #9ba0a4;
  }
  #cart-collapsed[type="checkbox"]:checked + cart h1 .invoice-amount {
    display: inline-block !important;
  }
  #cart-collapsed[type="checkbox"]:checked + cart .expand-summary {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 10px;
  }
  #cart-collapsed[type="checkbox"]:checked + cart lineitems,
  #cart-collapsed[type="checkbox"]:checked + cart .invoice-discount,
  #cart-collapsed[type="checkbox"]:checked + cart .invoice-line {
    display: block;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    border: 0;
  }
  #cart-collapsed[type="checkbox"]:checked + cart .special-offer {
    border: 0;
  }
  #cart-collapsed[type="checkbox"]:checked + cart .promo-row {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .promo-row {
    padding-bottom: 20px;
  }
  .promo-row > * {
    float: left;
  }
  .promo-row promocode {
    width: 60% !important;
  }
  .promo-row button {
    width: 40%;
  }
  .promo-row .promo-message {
    width: 100%;
    padding: 5px;
  }
}
@media screen and (max-width: 500px) {
  .checkout {
    font-size: 80%;
    padding: 20px;
  }
  .checkout input,
  .checkout select,
  .checkout button,
  .checkout select > input[type="button"],
  .checkout textarea {
    font-size: 70%;
  }
  .checkout [type="checkbox"]:not(:checked) + label:after,
  .checkout [type="checkbox"]:checked + label:after {
    top: 6px;
    left: 2px;
    font-size: 14px;
    line-height: 0.8;
  }
  .checkout .product-image-container {
    width: 30%;
  }
  .checkout .product-text-container {
    width: 50%;
  }
  .checkout .product-description-container {
    width: 100%;
  }
  .checkout .product-price-container {
    width: 100%;
  }
  .input {
    width: 100% !important;
  }
  .invoice-line > * {
    float: left;
  }
  .invoice-line div:first-child {
    width: 50%;
    text-align: left;
  }
  .invoice-line div:last-child {
    width: 50%;
    text-align: right;
  }
}
@media screen and (max-width: 400px) {
  .product-image-container {
    width: 30%;
  }
  .product-text-container {
    width: 40%;
  }
  .product-price-container {
    width: 30%;
  }
  .checkout .product-image-container {
    width: 30%;
  }
  .checkout .product-text-container {
    width: 70%;
  }
  .checkout .product-price-container {
    width: 100%;
  }
}
.checkout-modal {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 500vh;
  top: -600vh;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.75);
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  z-index: 3000;
}
.checkout-modal.hidden {
  display: block !important;
}
.checkout-modal.is-open {
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
#general cart {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  width: 380px;
  max-width: 100%;
  font-size: 14px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  -webkit-transition: right 0.3s ease-in;
  transition: right 0.3s ease-in;
  right: -380px;
}
#general cart .starter-scents {
  font-size: 0.8em;
  padding-bottom: 10px;
}
#general cart.show,
#general cart:hover {
  right: 0;
}
#general cart.hide {
  right: -380px;
}
#general cart h3 {
  text-shadow: none;
  font-size: 20px;
  margin-bottom: 40px;
}
#general cart .cart-contents {
  display: table;
  width: 100%;
}
#general cart .cart-contents > button {
  width: 100%;
}
#general cart .call-to-action {
  width: 100%;
  text-align: center;
}
#general cart h2 {
  font-size: 32px;
  margin: 20px;
}
#general cart .promo button {
  padding: 0;
}
#general cart input[type=text] {
  height: 25px;
  border: 1px solid #c9c9c9;
}
#general cart .selectize-input.focus,
#general cart input:focus {
  border-color: #ed8d48;
}
#general cart input,
#general cart button {
  outline: 0;
}
#general cart button,
#general cart .button {
  color: #fff;
  background-color: #ed8d48;
  padding: 5px 24px;
}
#general cart button:disabled,
#general cart .button:disabled {
  background-color: #c9c9c9;
}
#general cart .nav {
  margin-bottom: 40px;
}
#general cart .nav.back-button {
  width: 48%;
  margin-right: 4%;
  float: left;
  background-color: #e4aa47;
}
#general cart .nav.checkout-button {
  width: 48%;
  float: left;
}
#general cart .bottom {
  margin-top: 20px;
}
#general cart .promo-message {
  width: 100%;
}
#hamburger {
  width: 35px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 35px;
  margin: 0 auto;
  margin-top: -15px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f1ead0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0px;
}
#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 12px;
}
#hamburger span:nth-child(4) {
  top: 24px;
}
#hamburger.is-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#hamburger.is-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#hamburger.is-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#hamburger.is-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.progress {
  float: right;
}
.progress .bar {
  width: 20vw;
  height: 16px;
  display: block;
  position: relative;
  background-color: rgba(172,161,128,0.4);
  margin-top: 12px;
  margin-right: 20px;
}
.progress .bar:before {
  content: '';
  display: block;
  background-color: #eac241;
  height: 100%;
  width: 0%;
  -webkit-transition: width 1.6s ease-out;
  transition: width 1.6s ease-out;
}
.progress .message {
  text-transform: uppercase;
  font-size: 16px;
}
.progress .percent {
  font-size: 17px;
  font-weight: bold;
}
.progress.active .bar:before {
  width: 78%;
}
@media all and (max-width: 800px) {
  .progress {
    width: 100%;
    margin-bottom: 12px;
  }
  .progress .bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
@media all and (max-width: 600px) {
  .progress {
    width: 100%;
    margin-bottom: 6px;
  }
  .progress .bar {
    width: 95%;
    height: 4px;
  }
  .progress .message {
    font-size: 10px;
  }
  .progress .percent {
    font-size: 11px;
  }
}
.logos > div {
  width: calc(100% / 6);
  height: 80px;
  display: inline-block;
  float: left;
  padding: 10px;
  background-color: #000;
}
.logos > div > div {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}
@media screen and (max-width: 600px) {
  .logos > div {
    width: calc(100% / 3);
  }
}
.logos .apartmenttherapy {
  background-image: url("/images/logos/apartmenttherapy.png");
}
.logos .chickchip {
  background-image: url("/images/logos/chipchick.png");
}
.logos .cnet {
  background-image: url("/images/logos/cnet.png");
}
.logos .digitaltrends {
  background-image: url("/images/logos/digitaltrends.png");
}
.logos .deccanchronicle {
  background-image: url("/images/logos/deccanchronicle.png");
}
.logos .engadget {
  background-image: url("/images/logos/engadget.png");
}
.logos .gizmodo {
  background-image: url("/images/logos/gizmodo.png");
}
.logos .homecrux {
  background-image: url("/images/logos/homecrux.png");
}
.logos .producthunt {
  background-image: url("/images/logos/producthunt.png");
}
.logos .popularmechanics {
  background-image: url("/images/logos/popularmechanics.png");
}
.logos .techcrunch {
  background-image: url("/images/logos/techcrunch.png");
}
.logos .technews {
  background-image: url("/images/logos/technews.png");
}
.logos .theverge {
  background-image: url("/images/logos/theverge.png");
}
.logos .theeconomictimes {
  background-image: url("/images/logos/theeconomictimes.png");
}
.logos .thrillist {
  background-image: url("/images/logos/thrillist.png");
}
.modal-close:not(.call-to-action) {
  width: 35px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 40px;
  margin: 0 auto;
  margin-top: -8px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}
.modal-close:not(.call-to-action) span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f1ead0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.modal-close:not(.call-to-action) span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.modal-close:not(.call-to-action) span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close:not(.call-to-action) span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-close:not(.call-to-action) span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.modal .content {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  max-height: 80vh;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 40px;
}
.modal .content .modal-close-position {
  right: 10px;
  top: 20px;
  left: auto;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  line-height: 2rem;
}
.modal .content .modal-close {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
@media screen and (max-width: 980px) {
  .modal-close {
    left: 20px;
    top: 50px;
    margin-top: -15px;
  }
}
#page-store {
  background: #fff;
  font-size: 16px;
}
#page-store .modal-open {
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
  border: 1px solid #e4aa47;
  color: #e4aa47;
  cursor: pointer;
  vertical-align: top;
}
#page-store .hero {
  background-image: url("/images/store1.jpg");
  background-position: 33% 30%;
  height: 90vh;
}
#page-store .hero h1 {
  line-height: 1em;
}
#page-store .hero .content {
  margin-top: 40vh !important;
}
#page-store h2 {
  margin-bottom: 80px;
}
#page-store h4 {
  font-size: 35px;
  font-weight: normal;
}
#page-store .plan-price.subscription {
  color: #aaa;
  display: none;
}
#page-store section.items > .content > .item {
  display: table;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
#page-store section.items > .content > .item > * {
  float: left;
}
#page-store section.items .image {
  width: 35%;
  margin-right: 5%;
  position: relative;
}
#page-store section.items .image img {
  border-radius: 5px;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
#page-store section.items .image img:nth-child(n+2) {
  position: absolute;
  left: 0;
  top: 0;
}
#page-store section.items .title {
  width: 60%;
  text-align: left;
  font-size: 18px;
  padding: 15px 0;
}
#page-store section.items .title h4 {
  margin: 0 20px 0 0;
  display: inline-block;
  width: 100%;
}
#page-store section.items .picker {
  width: 60%;
  display: table;
  padding-top: 15px;
}
#page-store section.items .picker > * {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
#page-store section.items .picker > *:first-child {
  width: 35%;
  margin-right: 5%;
}
#page-store section.items .picker > *:last-child {
  width: 60%;
}
#page-store section.items .picker > *:last-child .selectize-input {
  max-width: 100%;
}
#page-store section.items .picker.color-picker input {
  display: none;
}
#page-store section.items .picker.color-picker > *:last-child label {
  width: 27px;
  height: 27px;
  display: inline-block;
  font-size: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  position: relative;
  top: -8px;
}
#page-store section.items .picker.color-picker > *:last-child > span:hover label {
  top: -6px;
  border: 2px solid #ed8d48;
}
#page-store section.items .picker.color-picker > *:last-child > span input:checked + label {
  top: -6px;
  border: 2px solid #ed8d48;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-r label {
  background-color: #902028;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-o label {
  background-color: #dd7829;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-i label {
  background-color: #b9956b;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-g label {
  background-color: #8eab66;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-b label {
  background-color: #51589e;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-w-p label {
  background-color: #786595;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-g-w label {
  background-color: #eaeaed;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-g-sm label {
  background-color: #808792;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-g-r label {
  background-color: #691816;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-g-b label {
  background-color: #181818;
}
#page-store section.items .picker.color-picker > *:last-child > span.color-g-bm label {
  background-color: #e8dccd;
}
#page-store section.items .refill-plan-picker {
  padding-bottom: 15px;
}
#page-store section.items .refill-plan-picker > *:last-child span {
  width: 50%;
  display: inline-block;
  text-align: center;
  float: left;
}
#page-store section.items .refill-plan-picker > *:last-child span input[type=radio] {
  display: none;
}
#page-store section.items .refill-plan-picker > *:last-child span input[type=radio]:checked + label {
  background-color: #f5a623;
  color: #fff;
}
#page-store section.items .refill-plan-picker > *:last-child span label {
  height: 32px;
  padding: 8px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 16px;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
#page-store section.items .price-display {
  width: 60%;
  padding: 15px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
#page-store section.items .price-display > *:first-child {
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  float: left;
}
#page-store section.items .price-display > *:last-child {
  width: 70%;
  display: inline-block;
  float: left;
}
#page-store section.items .call-to-action.button {
  border: 0;
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}
#page-store section.items.essentials.essentials.essentials .title + .picker {
  border-top: 1px solid #dedede;
}
#page-store section.items.essentials.essentials.essentials > p {
  margin-top: -70px;
}
#page-store section.items.essentials.essentials.essentials .image img {
  opacity: 0;
}
#page-store section.items.essentials.essentials.essentials .image img.active {
  opacity: 1;
}
#page-store section.items.essentials.essentials.essentials .refill-plan-picker > *:last-child span {
  width: 50%;
}
#page-store section.items.scents.scents.scents > .content > .item {
  float: left;
  width: 30%;
  margin-right: 5%;
}
#page-store section.items.scents.scents.scents > .content > .item .title h4 {
  font-size: 25px;
}
#page-store section.items.scents.scents.scents > .content > .item .picker {
  width: 100%;
}
#page-store section.items.scents.scents.scents > .content > .item .picker > * {
  width: 100%;
  float: left;
}
#page-store section.items.scents.scents.scents > .content > .item .picker > *:first-child {
  text-align: center;
  margin-bottom: 10px;
}
#page-store section.items.scents.scents.scents > .content > .item:nth-child(3n+3) {
  margin-right: 0;
}
#page-store section.items.scents.scents.scents > .content > .item .call-to-action {
  margin-top: 0;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
#page-store #gift-modal {
  z-index: 100001 !important;
}
#page-store #gift-modal .content {
  padding: 0 !important;
}
@media screen and (max-width: 800px) {
  #page-store section.items.scents.scents.scents.scents > .content > .item {
    float: left;
    width: 47%;
    margin-right: 6%;
  }
  #page-store section.items.scents.scents.scents.scents > .content > .item:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  #page-store .title {
    margin-top: 50px;
  }
  #page-store .title > * {
    display: block;
  }
  #page-store .picker,
  #page-store .price,
  #page-store .price-display {
    width: 100% !important;
  }
  #page-store .image {
    margin-top: 80px;
  }
  #page-store .call-to-action.button {
    width: 100%;
    text-align: center;
  }
  #page-store section.items.scents.scents.scents.scents > .content > .item {
    float: left;
    width: 100%;
    margin-right: 0;
  }
}
#page-press .news {
  margin-top: 100px;
}
#page-press .news a {
  width: 100%;
  display: table;
  padding: 20px;
  background-color: #000;
}
#page-press .news img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#page-press .press-logos {
  width: 100vw;
  margin-bottom: 100px;
}
#page-press .press-logos .press-logo {
  width: 32%;
  float: left;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 2%;
}
#page-press .press-logos .press-logo.dark img {
  background-color: #000;
}
#page-press .press-logos .press-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
}
#page-press .press-logos .press-logo:nth-child(3n+1) {
  margin-right: 0%;
}
/*# sourceMappingURL=site.css.map */