.checkout-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -500vh;
  left: 0;
  -webkit-transition: top 500ms ease;
  transition: top 500ms ease;
  overflow-y: scroll;
  font-size: 1rem;
}
.checkout-container input,
.checkout-container select,
.checkout-container button,
.checkout-container select > input[type="button"],
.checkout-container textarea {
  -moz-appearance: none !important;
  line-height: 1em !important;
  vertical-align: middle;
  color: #525252 !important;
}
.checkout-container .selectize-input.focus,
.checkout-container input:focus {
  border-color: #ed8d48;
}
.checkout-container input,
.checkout-container select,
.checkout-container button,
.checkout-container select > input[type="button"],
.checkout-container textarea,
.checkout-container .selectize-input {
  border: 2px solid #c9c9c9;
}
.checkout-container a {
  color: #ed8d48;
  text-decoration: underline;
}
.checkout-container h1 {
  font-size: 20px;
  text-align: left;
  font-family: proxima-nova;
  text-shadow: none;
}
.checkout-container .checkout {
  border-radius: 3px;
  position: absolute;
  padding: 30px;
  margin: 10vh 0;
  width: 90%;
  display: table;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  color: #525252;
}
.checkout-container .checkout > *:not(.continue-shopping) h1:first-child {
  border-bottom: 2px solid #c9c9c9;
  width: 100%;
  margin-top: -0.5em;
  line-height: 2em;
  color: #9ba0a4;
}
.checkout-container .checkout input[type=text],
.checkout-container .checkout textarea {
  width: 100%;
}
.checkout-container .checkout input[type=text],
.checkout-container .checkout button,
.checkout-container .checkout textarea {
  color: #525252;
  height: 32px;
  line-height: 1em;
  font-size: 16px;
}
.checkout-container .checkout textarea {
  height: 96px;
}
.checkout-container .checkout button {
  background-color: #ed8d48;
  border: 2px solid #ed8d48;
  font-size: 1em;
  color: #fff !important;
}
.checkout-container .checkout .error,
.checkout-container .checkout .promo-message {
  color: #ed8d48;
  font-size: 14px;
  padding: 8px 0;
  line-height: 1em;
  text-align: left;
}
.is-open .checkout-container {
  top: 0;
}
cart {
  padding-bottom: 40px;
}
cart,
checkout,
lineitems,
lineitem {
  width: 100%;
  position: relative;
  display: block;
}
quantity-select-control,
.promo,
.promo-row,
.invoice-line,
.input {
  width: 100%;
  display: table;
  position: relative;
}
.promo-row button {
  padding: 0;
}
.selectize-control.single .selectize-input::after {
  top: 12px;
  right: 8px;
  margin-top: 0px;
}
.selectize-input {
  border-radius: 0 !important;
  height: 32px !important;
  max-width: 60px;
}
.selectize-input input {
  position: absolute !important;
}
.selectize-dropdown.single {
  border-radius: 0 !important;
}
.product-quantity-container {
  width: 45px !important;
  display: inline-block;
  margin-top: 5px;
}
.product-description {
  line-height: 1.25em;
  padding-top: 3px;
  padding-left: 6px;
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.product-description .product-name {
  color: #525252;
  font-weight: bold;
  display: block;
}
.product-description > *:last-child {
  font-size: 10px;
  line-height: 1rem;
  margin-top: 0;
}
.product-image-container {
  width: 20%;
  position: relative;
  top: -20px;
}
.product-text-container {
  width: 55%;
}
.product-price-container {
  line-height: 1.25em;
  width: 25%;
  text-align: right;
  float: right;
  margin-top: 3px;
}
.product-slug {
  display: none;
}
.product-delete {
  display: none;
}
.product-currency {
  display: inline;
}
.product-list-price {
  text-decoration: line-through;
}
lineitems {
  padding-bottom: 20px;
}
lineitem > * {
  float: left;
}
.promo-row {
  padding-bottom: 20px;
}
.promo-row > * {
  float: left;
}
.promo-row promocode {
  width: 75%;
}
.promo-row promocode input {
  border-right: 0;
}
.promo-row button {
  width: 25%;
}
.promo-row .promo-message {
  width: 40%;
  padding: 5px 0 5px 16px;
  text-align: right;
}
.invoice-line > * {
  float: left;
}
.invoice-line div:first-child {
  width: 70%;
  padding-right: 5%;
}
.invoice-line div:last-child {
  width: 30%;
}
.invoice-label {
  color: #999;
}
.invoice-total {
  font-weight: bold;
  font-size: 1.1em;
  border-top: 2px solid #c9c9c9;
  margin-top: 4px;
  padding-top: 4px;
}
.invoice-total .invoice-label {
  color: #525252;
}
.invoice-discount .invoice-amount {
  color: #ed8d48;
}
.invoice-amount {
  text-align: right;
  font-weight: bold;
}
checkout .input {
  padding-bottom: 16px;
  line-height: 2em;
}
checkout .selectize-input {
  max-width: 100%;
}
checkout .selectize-input .item {
  font-size: 16px;
}
checkout .selectize-input input {
  width: 100% !important;
  margin-top: -6px !important;
  margin-left: 16px !important;
  left: 0;
}
checkout .fields {
  width: 100%;
  display: table;
}
checkout .fields > * {
  float: left;
}
.contact-information,
.shipping-information,
.payment-information,
.confirmation,
.gift-options,
cart {
  margin-bottom: 30px;
  position: relative;
  padding: 16px;
  border: 2px solid #c9c9c9;
}
cart {
  line-height: 1.8em;
}
shippingaddress-line1 {
  width: 55% !important;
  margin-right: 5%;
}
shippingaddress-line2 {
  width: 40% !important;
}
shippingaddress-city {
  width: 65% !important;
  margin-right: 5%;
}
shippingaddress-postalcode {
  width: 30% !important;
}
shippingaddress-state {
  width: 40% !important;
  margin-right: 5%;
}
shippingaddress-country {
  width: 55% !important;
}
card-number {
  width: 46% !important;
  margin-right: 4%;
}
card-expiry {
  width: 23% !important;
  margin-right: 4%;
}
card-cvc {
  width: 23% !important;
}
gift-message {
  width: 100%;
}
cart,
checkout {
  float: right;
  width: 48%;
}
checkout {
  margin-right: 4%;
}
.stripe-logo {
  width: 100px;
}
.continue-shopping {
  cursor: pointer;
  margin-top: -10px;
  text-align: right;
}
.continue-shopping h1 {
  font-size: 1em !important;
}
.continue-shopping i {
  margin-bottom: -8px;
}
.lock,
.arrow-left,
.shopping-bag {
  height: 26px !important;
  width: 26px !important;
  background-size: cover !important;
  display: inline-block;
}
.lock {
  background: url("/images/icons/lock.svg");
  position: absolute;
  top: 9px;
  right: 12px;
}
.arrow-left {
  margin-right: 8px;
  background: url("/images/icons/arrow-left.svg");
  color: #000;
}
.shopping-bag {
  margin-left: 8px;
  background: url("/images/icons/shopping-bag.svg");
}
.special-offer {
  margin-top: 4px;
  padding-top: 10px;
  border-top: 2px solid #c9c9c9;
}
.special-offer h1 {
  margin-bottom: 4px;
  border-bottom: 0 !important;
}
.checkbox,
terms,
gift-toggle {
  font-family: helvetica;
  margin-bottom: 20px;
  display: block;
/* Base for label styling */
/* checkbox aspect */
/* checked mark aspect */
/* checked mark aspect changes */
/* disabled checkbox */
/* accessibility */
/* hover style just for information */
}
.checkbox label,
terms label,
gift-toggle label {
  padding-top: 2px;
  font-size: 16px !important;
  line-height: 1rem;
  display: inline-block;
  color: #9ba0a4;
}
.checkbox [type="checkbox"]:not(:checked),
terms [type="checkbox"]:not(:checked),
gift-toggle [type="checkbox"]:not(:checked),
.checkbox [type="checkbox"]:checked,
terms [type="checkbox"]:checked,
gift-toggle [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.checkbox [type="checkbox"]:not(:checked) + label,
terms [type="checkbox"]:not(:checked) + label,
gift-toggle [type="checkbox"]:not(:checked) + label,
.checkbox [type="checkbox"]:checked + label,
terms [type="checkbox"]:checked + label,
gift-toggle [type="checkbox"]:checked + label {
  position: relative;
  text-indent: 25px;
  cursor: pointer;
}
.checkbox [type="checkbox"]:not(:checked) + label:before,
terms [type="checkbox"]:not(:checked) + label:before,
gift-toggle [type="checkbox"]:not(:checked) + label:before,
.checkbox [type="checkbox"]:checked + label:before,
terms [type="checkbox"]:checked + label:before,
gift-toggle [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 2px solid #aaa;
  background: #f8f8f8;
}
.checkbox [type="checkbox"]:not(:checked) + label:after,
terms [type="checkbox"]:not(:checked) + label:after,
gift-toggle [type="checkbox"]:not(:checked) + label:after,
.checkbox [type="checkbox"]:checked + label:after,
terms [type="checkbox"]:checked + label:after,
gift-toggle [type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 3px;
  left: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-indent: 0;
}
.checkbox [type="checkbox"]:not(:checked) + label:after,
terms [type="checkbox"]:not(:checked) + label:after,
gift-toggle [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.checkbox [type="checkbox"]:checked + label:after,
terms [type="checkbox"]:checked + label:after,
gift-toggle [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
terms [type="checkbox"]:disabled:not(:checked) + label:before,
gift-toggle [type="checkbox"]:disabled:not(:checked) + label:before,
.checkbox [type="checkbox"]:disabled:checked + label:before,
terms [type="checkbox"]:disabled:checked + label:before,
gift-toggle [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.checkbox [type="checkbox"]:disabled:checked + label:after,
terms [type="checkbox"]:disabled:checked + label:after,
gift-toggle [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.checkbox [type="checkbox"]:disabled + label,
terms [type="checkbox"]:disabled + label,
gift-toggle [type="checkbox"]:disabled + label {
  color: #aaa;
}
.checkbox [type="checkbox"]:checked:focus + label:before,
terms [type="checkbox"]:checked:focus + label:before,
gift-toggle [type="checkbox"]:checked:focus + label:before,
.checkbox [type="checkbox"]:not(:checked):focus + label:before,
terms [type="checkbox"]:not(:checked):focus + label:before,
gift-toggle [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted #00f;
}
.checkbox label:hover:before,
terms label:hover:before,
gift-toggle label:hover:before {
  border: 2px solid #ed8d48 !important;
}
button[type=submit] {
  width: 100%;
  font-size: 20px !important;
  padding: 20px;
  line-height: 2px !important;
}
.thankyou {
  position: absolute;
  top: 35vh;
  max-width: 600px;
  width: 80vw;
  padding: 40px;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
  text-align: center;
}
.thankyou .social {
  text-align: center;
}
.thankyou .social > * {
  margin-top: 0;
}
@media screen and (max-width: 500px) {
  .checkout {
    font-size: 80%;
    padding: 20px;
  }
  .checkout .product-description {
    margin-top: -54px;
    margin-left: 55px;
  }
  .checkout input,
  .checkout select,
  .checkout button,
  .checkout select > input[type="button"],
  .checkout textarea {
    font-size: 70%;
  }
  .checkout [type="checkbox"]:not(:checked) + label:after,
  .checkout [type="checkbox"]:checked + label:after {
    top: 6px;
    left: 2px;
    font-size: 14px;
    line-height: 0.8;
  }
  .input {
    width: 100% !important;
  }
  .product-image-container {
    width: 30%;
  }
  .product-text-container {
    width: 70%;
  }
  .product-price-container {
    width: 100%;
    float: right;
    text-align: right;
  }
  .invoice-line > * {
    float: left;
  }
  .invoice-line div:first-child {
    width: 50%;
    text-align: left;
  }
  .invoice-line div:last-child {
    width: 50%;
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  .promo-row {
    padding-bottom: 20px;
  }
  .promo-row > * {
    float: left;
  }
  .promo-row promocode {
    width: 60% !important;
  }
  .promo-row button {
    width: 40%;
  }
  .promo-row .promo-message {
    width: 100%;
    padding: 5px;
  }
}
@media screen and (max-width: 980px) {
  cart,
  checkout {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 980px) {
  cart,
  checkout {
    width: 100%;
    margin-right: 0;
  }
}
.checkout-modal {
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: -500vh;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,0.75);
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  z-index: 3000;
}
.checkout-modal.hidden {
  display: block !important;
}
.checkout-modal.is-open {
  top: 0;
  opacity: 1;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}
.modal-close:not(.checkout-button) {
  width: 35px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 40px;
  margin: 0 auto;
  margin-top: -8px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}
.modal-close:not(.checkout-button) span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f1ead0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.modal-close:not(.checkout-button) span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.modal-close:not(.checkout-button) span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close:not(.checkout-button) span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-close:not(.checkout-button) span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
@media screen and (max-width: 980px) {
  .modal-close {
    left: 20px;
    top: 50px;
    margin-top: -15px;
  }
}
.store {
  font-size: 16px;
}
.store .hero {
  background-image: url("/images/store1.png");
  background-position: 33% 25%;
  height: 80vh;
}
.store .hero h1 {
  line-height: 1em;
}
.store .hero .content {
  margin-top: 40vh !important;
}
.store h2 {
  margin-bottom: 80px;
}
.store h4 {
  font-size: 35px;
  font-weight: normal;
}
.store .items .item {
  display: table;
  width: 100%;
}
.store .items .item > * {
  float: left;
}
.store .items .image {
  width: 35%;
  margin-right: 5%;
}
.store .items .title {
  width: 60%;
  text-align: left;
  font-size: 18px;
  padding: 15px 0;
}
.store .items .title h4 {
  margin: 0 20px 0 0;
  display: inline-block;
}
.store .items .picker {
  width: 60%;
  display: table;
  padding-top: 15px;
}
.store .items .picker > * {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
.store .items .picker > *:first-child {
  width: 35%;
  margin-right: 5%;
}
.store .items .picker > *:last-child {
  width: 60%;
}
.store .items .picker > *:last-child .selectize-input {
  max-width: 100%;
}
.store .items .scent-picker {
  border-top: 1px solid #dedede;
}
.store .items .refill-plan-picker {
  padding-bottom: 15px;
}
.store .items .refill-plan-picker > *:last-child span {
  width: 25%;
  display: inline-block;
  text-align: center;
  float: left;
}
.store .items .refill-plan-picker > *:last-child span input[type=radio] {
  display: none;
}
.store .items .refill-plan-picker > *:last-child span input[type=radio]:checked + label {
  background-color: #f5a623;
  color: #fff;
}
.store .items .refill-plan-picker > *:last-child span label {
  height: 32px;
  padding: 8px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 16px;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.store .items .price {
  width: 60%;
  padding: 15px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.store .items .price > *:first-child {
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  float: left;
}
.store .items .price > *:last-child {
  width: 70%;
  display: inline-block;
  float: left;
}
.store .items .call-to-action.button {
  border: 0;
  border-radius: 16px;
  color: #fff;
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  .store .title {
    margin-top: 50px;
  }
  .store .title > * {
    display: block;
  }
  .store .picker,
  .store .price {
    width: 100% !important;
  }
  .store .call-to-action.button {
    width: 100%;
    text-align: center;
  }
}
#hamburger {
  width: 35px;
  height: 30px;
  position: absolute;
  left: 40px;
  top: 35px;
  margin: 0 auto;
  margin-top: -15px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  cursor: pointer;
}
#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f1ead0;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
#hamburger span:nth-child(1) {
  top: 0px;
}
#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
  top: 12px;
}
#hamburger span:nth-child(4) {
  top: 24px;
}
#hamburger.is-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
#hamburger.is-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#hamburger.is-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#hamburger.is-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.progress {
  float: right;
}
.progress .bar {
  width: 20vw;
  height: 16px;
  display: block;
  position: relative;
  background-color: rgba(172,161,128,0.4);
  margin-top: 12px;
  margin-right: 20px;
}
.progress .bar:before {
  content: '';
  display: block;
  background-color: #eac241;
  height: 100%;
  width: 0%;
  -webkit-transition: width 1.6s ease-out;
  transition: width 1.6s ease-out;
}
.progress .message {
  text-transform: uppercase;
  font-size: 16px;
}
.progress .percent {
  font-size: 17px;
  font-weight: bold;
}
.progress.active .bar:before {
  width: 53%;
}
@media all and (max-width: 800px) {
  .progress {
    width: 100%;
    margin-bottom: 12px;
  }
  .progress .bar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}
/*# sourceMappingURL=site.css.map */