
@font-face
  font-family 'Freeland'
  src url("/fonts/Freeland.otf") format("opentype"),
      url("/fonts/Freeland.ttf") format("truetype"),
      url("/fonts/Freeland.woff") format("woff"),
      url("/fonts/Freeland.eot") format("embedded-opentype");


@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?9isg77');
  src:  url('/fonts/icomoon.eot?9isg77#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?9isg77') format('truetype'),
    url('/fonts/icomoon.woff?9isg77') format('woff'),
    url('/fonts/icomoon.svg?9isg77#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-ludela-logo:before {
  content: "\e900";
}
.icon-low-battery:before {
  content: "\e918";
}
.icon-play:before {
  content: "\ea15";
}
.icon-efficient-burn:before {
  content: "\e90d";
}
.icon-natural-wax-design:before {
  content: "\e90e";
}
.icon-no-mess-wax:before {
  content: "\e90f";
}
.icon-safe-wax-design:before {
  content: "\e910";
}
.icon-scent-option:before {
  content: "\e917";
}
.icon-secure-flame:before {
  content: "\e912";
}
.icon-subscription:before {
  content: "\e913";
}
.icon-smile:before {
  content: "\e909";
}
.icon-smartphone-alerts:before {
  content: "\e90a";
}
.icon-auto-extinguish:before {
  content: "\e90b";
}
.icon-child-lock:before {
  content: "\e90c";
}
.icon-smart-scan:before {
  content: "\e911";
}
.icon-long-life-batteries:before {
  content: "\e914";
}
.icon-everbrite-flame:before {
  content: "\e915";
}
.icon-dimmer-switch:before {
  content: "\e916";
}
.icon-candle-remaining-meter:before {
  content: "\e904";
}
.icon-perfect-pillar:before {
  content: "\e905";
}
.icon-scene-mode:before {
  content: "\e906";
}
.icon-timer:before {
  content: "\e907";
}
.icon-multizone-lighting:before {
  content: "\e908";
}


