/* Checkout Stuff */
.checkout-button
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  position: absolute
  right: 40px
  top: 70px
  color: #f1ead0
  font-family: 'Proxima nova', 'Helvetica', sans-serif
  text-decoration: none
  padding: 5px 12px
  border: 1px solid #f1ead0
  text-transform: uppercase

.checkout-container
  position: absolute
  width: 100vw
  max-width: 800px
  height: 100vh
  top: -500vh
  left: 50%
  transition: top 500ms ease
  transform: translateX(-50%)
  overflow-y: scroll

  .checkout
    padding: 20vh 60px
    width: 100%
    display: table

.is-open
  .checkout-container
    top: 0vh

@media screen and (max-width: 980px)
  .checkout-button
    right: 20px
    top: 60px
