<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<system.webServer>
		
		<staticContent>
			
			<mimeMap fileExtension=".svg"   mimeType="image/svg+xml" />
			<mimeMap fileExtension=".eot"   mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".woff"  mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>

</configuration>