.header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin: 0;
    padding-top: 15px;
  }
}

.hamburger {
  width: 35px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #f0e9d0;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 11px;
    }

    &:nth-child(3) {
      top: 22px;
    }
  }

  &.open {
    :nth-child(1) {
      top: 11px;
      transform: rotate(135deg);
    }

    :nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    :nth-child(3) {
      top: 11px;
      transform: rotate(-135deg);
    }
  }
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 20px;
  }
}